<template>
	<div>
		<div class="_main_content">
			<div class="row">
                <div class="col-12 col-md-12 col-lg-12">
					<div class="_1card">
						<div class="_1card_top">
							<div class="_1card_top_left">
								<p class="_1card_top_title">All Tasks</p>
								<div class="_1card_top_search">
									<Input search enter-button="Search" placeholder="Enter something..." v-model="searchFilter"  @on-search="searchTask"/>
								</div>
							</div>
							<div class="_1card_top_right">
								<ul class="_1card_top_right_list">
    							    <li><Button type="primary" @click="taskAddModel = true">Add Task</Button></li>
								</ul>
							</div>
						</div>
                         <div class="_1card_body">
                            <div class="">
                                <Tabs :animated="false" @on-click="tabClick" v-model="tabType" class="overflow_visible tab_margin_zero">
                                    <TabPane label="My Tasks" name="all">
                                        <div class="_table_responsive">
                                            <Table class="_table1300" border :columns="columns" :data="taskData" :loading="loading" :no-data-text="no_data_text">
                                                <template slot-scope="{row }" slot="projectType">
                                                    <span v-if="row.project.addendum">{{row.project.addendum.name}}</span>
                                                </template>
                                                <template slot-scope="{row }" slot="description">
                                                    <p class="descrip">{{row.description}}</p>
                                                </template>
                                                <template slot-scope="{row }" slot="duration">
                                                    {{row.duration}}hrs
                                                </template>
                                                <template slot-scope="{row }" slot="clientName">
                                                    <h3 class="_3table_title">
                                                        <span v-if="row.user">{{row.user.id}} - {{row.user.firstname}} {{row.user.lastname}}</span>
                                                    </h3>
                                                </template>
                                                <template slot-scope="{row,index}" slot="status">
                                                    <!-- <Select v-if="statusOn && index == editIndex" v-model="status_change.status"  @on-change="statusChange(row,index)" :placeholder="row.status" >
                                                        <Option value="Processing">Approved</Option>  
                                                        <Option value="Completed">Completed</Option>    
                                                    </Select> 
                                                    <span v-else type="submit" @click="clickStatusOn(index)" :class="row.status=='Pending'? 'self-status status-danger' :  row.status=='Processing'? 'self-status status-focus' : 'self-status status-success'" ><Icon type="ios-create" /> {{row.status}}</span>  -->
                                                    <span type="submit" @click="clickStatusOn(row,index)"><Icon type="md-open" /> {{row.status}}</span>  
                                                </template>
                                                <template slot-scope="{row,index}" slot="action">
                                                <ul class="action_list">
                                                        <li>
                                                            <Button class="_button_black"  @click="viewModalOn(row)">
                                                                VIEW
                                                            </Button>
                                                        </li>
                                                        <li>
                                                            <Button class="_button_black"  @click="task_delete_tech(row.id,index)">
                                                                DELETE
                                                            </Button>
                                                        </li>
                                                    </ul>
                                                </template>
                                            </Table>
                                        </div>
                                        <div class="_pagination _padd_t20">
                                            <Page :current="parseInt(pagination.page)" :total="pagination.total" @on-change="getpaginate"  :page-size="parseInt(pagination.perPage)" show-sizer show-total :page-size-opts="pageOption" @on-page-size-change="getSizeChange" />
                                        </div>
                                    </TabPane>

                                    <TabPane label="Current Tasks" name="Processing">
                                        <div class="_table_responsive">
                                            <Table class="_table1300" border :columns="columns" :data="taskData" :loading="loading" :no-data-text="no_data_text">
                                                <template slot-scope="{row }" slot="projectType">
                                                    <span v-if="row.project.addendum">{{row.project.addendum.name}}</span>
                                                </template>
                                                <template slot-scope="{row }" slot="description">
                                                    <p class="descrip">{{row.description}}</p>
                                                </template>
                                                <template slot-scope="{row }" slot="duration">
                                                    {{row.duration}}hrs
                                                </template>
                                                <template slot-scope="{row }" slot="clientName">
                                                    <h3 class="_3table_title">
                                                        <span v-if="row.user">{{row.user.id}} - {{row.user.firstname}} {{row.user.lastname}}</span>
                                                    </h3>
                                                </template>
                                                <template slot-scope="{row,index}" slot="status">
                                                   <span type="submit" @click="clickStatusOn(row,index)"><Icon type="md-open" /> {{row.status}}</span>  
                                                </template>
                                                <template slot-scope="{row,index}" slot="action">
                                                <ul class="action_list">
                                                        <li>
                                                            <Button class="_button_black"  @click="viewModalOn(row)">
                                                                VIEW
                                                            </Button>
                                                        </li>
                                                        <li>
                                                            <Button class="_button_black"  @click="task_delete_tech(row.id,index)">
                                                                DELETE
                                                            </Button>
                                                        </li>
                                                    </ul>
                                                </template>
                                            </Table>
                                        </div>

                                        <div class="_pagination _padd_t20">
                                            <Page :current="parseInt(pagination.page)" :total="pagination.total" @on-change="getpaginate"  :page-size="parseInt(pagination.perPage)" show-sizer show-total :page-size-opts="pageOption" @on-page-size-change="getSizeChange" />
                                        </div>
                                    </TabPane>
                                    <TabPane label="Pending Tasks" name="Pending">
                                        <div class="_table_responsive">
                                            <Table class="_table1300" border :columns="columns" :data="taskData" :loading="loading" :no-data-text="no_data_text">
                                                <template slot-scope="{row }" slot="projectType">
                                                    <span v-if="row.project.addendum">{{row.project.addendum.name}}</span>
                                                </template>
                                                <template slot-scope="{row }" slot="description">
                                                    <p class="descrip">{{row.description}}</p>
                                                </template>
                                                <template slot-scope="{row }" slot="duration">
                                                    {{row.duration}}hrs
                                                </template>
                                                <template slot-scope="{row }" slot="clientName">
                                                    <h3 class="_3table_title">
                                                        <span v-if="row.user">{{row.user.id}} - {{row.user.firstname}} {{row.user.lastname}}</span>
                                                    </h3>
                                                </template>
                                                <template slot-scope="{row,index}" slot="status">
                                                    <span type="submit" @click="clickStatusOn(row,index)"><Icon type="md-open" /> {{row.status}}</span>  
                                                </template>
                                                <template slot-scope="{row,index}" slot="action">
                                                <ul class="action_list">
                                                        <li>
                                                            <Button class="_button_black"  @click="viewModalOn(row)">
                                                                VIEW
                                                            </Button>
                                                        </li>
                                                        <li>
                                                            <Button class="_button_black"  @click="task_delete_tech(row.id,index)">
                                                                DELETE
                                                            </Button>
                                                        </li>
                                                    </ul>
                                                </template>
                                            </Table>
                                        </div>
                                        
                                        <div class="_pagination _padd_t20">
                                            <Page :current="parseInt(pagination.page)" :total="pagination.total" @on-change="getpaginate"  :page-size="parseInt(pagination.perPage)" show-sizer show-total :page-size-opts="pageOption" @on-page-size-change="getSizeChange" />
                                        </div>
                                    </TabPane>
                                </Tabs>
                                <Modal
                                    v-model="viewModal"
                                    title="Task Details"
                                    :loading="loading"
                                >
                                    <!-- @on-ok="asyncOK"> -->
                                    <div class="modal-dialogue-body">
                                        <ul class="_project_veiw">
                                            <li><span>Project Type</span> :  <p v-if="taskDetails.project">{{taskDetails.project.addendum.name}}</p></li>
                                            <li><span>Description</span> :  <p>{{taskDetails.description}}</p></li>
                                            <li><span>Duration</span> :  <p>{{taskDetails.duration}}hrs</p></li>
                                            <li><span>Client Name</span> :  <p v-if="taskDetails.user">{{taskDetails.user.firstname}}</p></li>
                                            <li><span>Status</span> :  <p v-if="taskDetails.user">{{taskDetails.status}}</p></li>
                                        </ul>
                                        <div class="profile-edit-group full-width">
                                            <div class="profile-edit-group-item col-md-12 col-sm-12 no-padding">
                                                <div class="profile-edit-input">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div slot="footer">
                                        <Button type="primary" @click="viewModal=false">Close</Button>
                                    </div>
                                </Modal>
                                <Modal v-model="taskAddModel" title="Add New Task" >
                                    <Form ref="formValidate"  :model="taskItem" :rules="ruleCustom" label-position="top" class="iview_submit_form">
                                        <FormItem prop="project_id"   label="Project Name">
                                            <Select v-model="taskItem.project_id"  placeholder="Project name" filterable clearable remote :remote-method="getProjectList" @on-change="projectChangeOnSelect"   >
                                                <Option v-for="(item) in projectList" :key="item.id" :value="item.id"  >{{item.id}} : {{item.name}} - {{item.firstname}} {{item.lastname}}</Option>
                                            </Select>
                                        </FormItem>
                                    <FormItem  prop="duration" label="Duration">
                                        <Input type="number" v-model="taskItem.duration"></Input>
                                        </FormItem>
                                    <FormItem  prop="description" label="Description">
                                            <Input v-model="taskItem.description" type="textarea" :autosize="{minRows: 4,maxRows: 6}" placeholder="Enter something..."></Input>
                                        </FormItem>
                                    </Form>
                                    <div slot="footer">
                                        <Button    @click="taskAddModel=false">Close</Button>
                                        <Button type="primary" :disabled="loading"   :loading="loading" @click="handleSubmit('formValidate')">{{loading==true?'Please Wait' : "Add"}}</Button>
                                    </div>
                                </Modal>
                                <Modal
                                    v-model="updateModal"
                                    title="Update Status"
                                    >
                                    <div>
                                        <p class="form_label">Status</p>
                                        <Select v-model="selectedItemStatus" :placeholder="selectedItemStatus" >
                                            <Option value="Processing">Approved</Option>  
                                            <Option value="Completed">Completed</Option>    
                                        </Select> 
                                    </div>
                                    <div slot="footer">
                                        <Button @click="statusChange(selectedItemStatus,editIndex)" type="primary">Update</Button>
                                        <Button @click="closeupdateModal">Close</Button>
                                    </div>
                                </Modal>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moment from "moment";
export default {
    middleware: 'authenticated',
	data(){
		return {
        taskData:[],
        page:1,
        pagination: {},
        pageSize:10,
        pageOption:[5,10,15,20],
        loading:false,
        tabCont:false,
        editIndex:-1,
        editId:-1,
        statusOn:true,
        statusValue:'',
        taskItem:{
            project_id:'',
            user_id:'',
            agent_id:'',
            description:'',
            duration:0,
          },
        viewModal:false,
        taskDetails:{},
         searchFilter:'',
         taskAddModel:false,
         projectList:[],
         status_change:{
             project_id:'',
             status:'',
         },
         project_id:'',
         tabType:'',
         no_data_text:'No Data Found !!!',
          columns: [
                {
                    title: '#',
                    width: 100,
                    align: 'center',
                    render: (h, params) => {
                        return h('div', [
                            
                            h('strong', ((params.index)+1)+(((this.pagination.page-1)*this.pagination.perPage)))
                        ]);
                    }
                },
                {
                    title: 'ID',
                    key: 'id',
                    width:100
                },
                {
                    title: 'Project Type',
                    slot: 'projectType'
                },
                {
                    title: 'Description',
                    slot: 'description'
                },
                {
                    title: 'Duration',
                    slot: 'duration',
                     width:100
                },
                {
                    title: 'Client',
                    slot: 'clientName'
                },
                {
                    title: 'Status',
                    slot: 'status'
                },
                {
                    title: 'Actions',
                    slot: 'action',
                     width:200
                }
            ],
            ruleCustom: {
                project_id: [
                    { required: true, message: 'Project cannot be empty',  },
                ],  
                duration: [
                    { required: true, message: 'Duration cannot be empty', trigger: 'change' },
                ], 
                description: [
                    { required: true, message: 'Description cannot be empty', trigger: 'blur' }
                ]
            },
            updateModal:false,
            selectedItemStatus:'',
        }
	},

	methods : {
        async tabClick(value){
            this.tabType = value
            history.pushState({}, null, `/task?tab=${value}`);
            if(value){
                const res  = await this.callApi('get',`/tech/all_task_tech?page=${this.page}&pageSize=${this.pageSize}&status=${value}`)
                if(res.status == 200){
                    this.taskData= res.data.data
                    this.pagination = res.data
                    this.statusValue=value
                }
                else{
                    this.swr()
                }
            }
        },
        clickStatusOn(item,index){
             this.selectedItemStatus=''
			this.statusOn = true
            this.editIndex=index
            this.updateModal=true
            this.selectedItemStatus=item.status
            this.status_change.project_id=item.project_id
        },
         closeupdateModal(){
            this.editIndex = -1
            this.updateModal=false
            this.selectedItemStatus=''
        },
		async statusChange(selectedItemStatus,index){
           
			// const res = await this.callApi("post", `/tech/taskStatus?taskId=${this.editId}`,this.status_change);
            this.editIndex= index
            this.status_change.status=this.selectedItemStatus
			this.editId = this.taskData[index].id
			const res = await this.callApi("post", `/tech/taskStatus?taskId=${this.editId}`,this.status_change);
			if (res.status == 200) {
                this.statusOn = false
                this.updateModal=false
                this.s('Task status updated');
                this.taskData[index].status=this.selectedItemStatus
                if(this.tabType!='all'){
                    this.taskData.splice(index,1)
                }
                this.selectedItemStatus=''
			}else{
				this.swr();
			}
		},
		async getpaginate(page){
			const res  = await this.callApi('get',`/tech/all_task_tech?page=${page}&pageSize=${this.pageSize}&status=${this.statusValue}`)
			if(res.status == 200){
				 this.taskData= res.data.data
                 this.pagination = res.data	
			}
			else{
				this.swr()
			}
        },
        getSizeChange(e){
            this.pageSize =e
            this.getpaginate(1)
        },
        isDate(date) {
            return moment(date).format("DD-MM-YYYY");
        },
        viewModalOn(item){
            this.taskDetails=item
            this.viewModal=true
        },
         async task_delete_tech(id,index){
             if(!confirm("Are you sure to delete this task")){
				return;
			}
			let ob = {
				id:id
			}
			const res = await this.callApi('post','/tech/task_delete_tech',ob)
			if(res.status == 200){
                if(this.taskData[index].status=='Pending'){
                     this.$store.commit('setTaskPendingList', this.taskPendingList - 1)
                }
                this.taskData.splice(index,1)
                this.s('Task successfully deleted!')
                this.pagination.total-=1;
			}
			else{
				this.swr();
            }
        },
         //Search
        async searchTask(){
        if(this.searchFilter){
            const res = await this.callApi('get',`/tech/all_task_tech?page=${this.page}&pageSize=${this.pageSize}&searchFilter=${this.searchFilter}&status=${this.statusValue}`)
            if(res.status == 200){
                this.taskData =  res.data.data;
                this.pagination = res.data;
            }
            else{
               this.swr();
            }
        }
         else {
      
         }
        },
           async getProjectList(query){ 
            const res = await this.callApi('get',`/tech/getClientList?str=${query}`)
            if( res.status == 200){
                 this.projectList = res.data.data
            } 
        },
        async projectChangeOnSelect(data){ 
            if(  data === undefined) return
            let index = this.projectList.findIndex(d => d.id == data);
            let ob = {
                id:this.projectList[index].user_id,
                firstname:this.projectList[index].firstname,
                lastname:this.projectList[index].lastname,
            };
            this.userList = [];
            this.userList.push(ob);
            this.taskItem.user_id = ob.id
        },
         handleSubmit (name) {
            this.loading = true;
            this.$refs[name].validate((valid) => {
                if (valid) {
                    this.add_task()
                } else {
                    this.loading = false;
                    this.$Message.error('Validation Failed!');
                }
            })
        },
        async add_task(){
            this.taskItem.agent_id=this.authUser.id
            this.loading = true
            const res = await this.callApi('post',`/tech/add_task?page=${this.page}&pageSize=${this.pageSize}`,this.taskItem)
			if(res.status==200){
                this.s('Task added successfully!')
                this.taskData=res.data.data
                // history.pushState({}, null, `/task?tab=all`);
                this.taskItem={}
                this.taskAddModel=false
			}
			else{
				this.swr();
            }
            this.loading = false
        },
        closeModal(){
            this.taskItem={}
            this.taskAddModel=false
        }
    }, 

    async asyncData({app,query,redirect}){ 
        try {
            var page = 1;
            var pageSize = 10;
            var tabType = query.tab ? query.tab : "all";
            var project_id= query.project_id ? query.project_id : ''
            const res = await  app.$axios.get(`/tech/all_task_tech?page=${page}&pageSize=${pageSize}&project_id=${project_id}&status=${tabType}`)
            if(res.status == 200) {

                return{
                    taskData:res.data.data,
                    pagination:res.data,
                    tabType:tabType
                }
            }
            else redirect('/')
        } catch (error) {
            console.log(error)
        }
    }, 
	
}
</script>




