
/*======= Form  ========*/
.ivu-form .ivu-form-item-label {
  text-align: left;
}
._text {
  font-size: 15px;
  font-weight: bold;
  color: #333;
  padding: 0 0 15px;
}
._text2{
  font-size: 14px;
  color: #333;
  padding: 0 0 14px;
}
._1form_top {
  border-bottom: 1px solid #e7e7e7;
  text-align: center;
  padding: 6px 0 25px;
  margin: 0 00 29px;
}

._form {
  max-width: 801px;
  margin: 0 auto;
}
._form_list{}
._form_title {
  margin: 0 0 25px;
  color: #000;
}
._form_ach{
  margin-top: 20px;
}
._pb_50{
  padding-bottom: 50px;
}
._form_row{}
.row2{
  margin-left: -10px;
  margin-right: -10px;
}
._form_list{}
._form_list li{
  font-size: 14px;
  color: #333;
  padding: 0 0 15px;
  display: block;
}
._form_image{
  max-width: 801px;
  margin: 0 auto;
  margin-bottom: 20px;
}
._form_img{
  margin: 15px 0px 30px;
}
.bank_number {
  flex: 0 0 141px;
  padding: 0 7px;
}
.bank_number_main {
  display: flex;
  align-items: center;
  margin-left: -7px;
  margin-right: -7px;
}
.phone_number{
  flex: 1 1;
  padding: 0 7px;
}
._signature:before {
  position: absolute;
  content: '';
  height: 2px;
  width: 130px;
  background: #333;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
}
._signature {
  position: relative;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  height: 200px;
  width: 100%;
}
.messshown{
  border: 1px solid #e7e7e7;
  height: 50px;
  border-radius: 3px;
  width: 100px;
}
._con_title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
  margin: 0;
  padding: 26px 0 5px;
}
._form_row ._1title {
  font-size: 17px;
  line-height: 24px;
}
._step_main_all{}
._step_main_title {
  font-size: 22px;
  padding: 0 0 15px;
  color: #333;
  line-height: 24px;
}
._step_main{}
._step_main_list{}
._step_main_list li{
  display: inline-block;
  margin-right: 50px;
}
._step_main_list li:last-child{
  margin-right: 0px;
}
._step_main_list_text {
  position: relative;
  font-size: 18px;
  padding-left: 22px;
  line-height: 24px;
}
._step_main_list_text:before {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  border-radius: 100%;
  left: 0px;
  top: 6px;
  background: red;
}

._step_main_all {
  margin: 48px 0 36px;
}
._step_main_title{}
._step {
  max-width: 1200px;
  margin: 0 auto;
}
._step_sub_main_title {
  font-size: 18px;
  line-height: 24px;
  padding: 19px 0 4px;
  color: #333;
  text-align: center;
}
._step_card_all {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 946px;
  margin: 26px auto 0;
}
._step_card {
  width: 292px;
}
._step_card_pic {
  height: 244px;
  overflow: hidden;
  margin-bottom: 12px;
  position: relative;
}
._step_card_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
._step_card_bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #ffffff70;
  color: #333;
  font-weight: bold;
  font-size: 19px;
  text-align: center;
  padding: 29px 6px 27px;
}
._step_card_title{}
._step_card_text {
  text-align: center;
  font-size: 16px;
  padding: 8px 0 0;
}
.rows{
  margin-left: -15px;
  margin-right: -15px;
}
._client_main {
  border: 1px solid #e7e7e7;
  padding: 27px 34px 26px;
  min-height: 319px;
  margin-bottom: 20px;
}
._form_body {
  padding: 35px 35px;
}
._client_title {
  font-size: 15px;
  color: #000;
  font-weight: bold;
  text-align: center;
  margin-bottom: 11px !important;
}
._client_text {
  font-size: 14px;
  text-align: center;
  line-height: 29px;
}
._1list{}
._1list li {
  display: block;
  font-size: 15px;
  line-height: 22px;
  color: #000;
  margin-bottom: 11px;
  padding-left: 10px;
  line-height: 24px;
}
._form_row ._2title {
  font-size: 15px;
}
._3text{
  font-size: 15px;
  line-height: 22px;
  color: #000;
}
._1sublist {
  margin-top: 10px;
}
._1sublist li:before {
  position: absolute;
  content: '';
  height: 5px;
  width: 5px;
  top: 9px;
  left: -14px;
  border-radius: 100%;
  background: #333;
}

._1sublist li {
  position: relative;
  display: block;
  font-size: 15px;
  line-height: 22px;
  color: #000;
  margin-bottom: 11px;
  padding-left: 0px;
  margin-left: 60px;
}
._2sublist {
  margin-top: 10px;
}
._2sublist li {
  position: relative;
  display: block;
  font-size: 15px;
  line-height: 22px;
  color: #000;
  margin-bottom: 11px;
  padding-left: 0px;
  margin-left: 60px;
}
._tax_top {
  display: flex;
  border-bottom: 1px solid #000;
}
._tax_top_one {
  flex: 0 0 279px;
  border-right: 1px solid #000;
  padding-right: 42px;
}
._tax_top_one_text {
  font-size: 17px;
  color: #000;
  padding: 0px 0 7px;
  line-height: 26px;
}
._tax_top_two {
  flex: 1 1;
  overflow: hidden;
}
._tax_top_give {
  flex: 0 0 279px;
  border-left: 1px solid #000;
  padding-left: 42px;
}
._tax_top_give_text {
  font-size: 24px;
  color: #000;
  padding: 7px 0 6px;
  font-weight: bold;
  line-height: 29px;
}
._tax_top_title {
  font-size: 32px;
  font-weight: bold;
  color: #000;
  text-align: center;
  padding: 0 0 19px;
}
._tax_top_text {
  font-size: 22px;
  font-weight: bold;
  color: #000;
  text-align: center;
  padding: 0 0 19px;
}
.form6 {
  padding: 63px;
}
._tax_top_one_span {
  font-size: 43px;
  font-weight: bold;
}
._tax_sec_two {
  display: flex;
  border-bottom: 1px solid #000;
}
._tax_sec_prinit {
  flex: 0 0 63px;
  overflow: hidden;
  max-width: 67px;
  border-right: 1px solid #000;
  position: relative;
}
._tax_sec_prinit_text {
  font-size: 15px;
  color: #000;
  white-space: nowrap;
  text-align: center;
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  height: 44px;
  width: 306px;
  top: 50%;
  z-index: 1;
  left: -113px;
}
._tax_sec_main {
  flex: 1 1;
  overflow: hidden;
}
._tax_sec_one {
  border-bottom: 1px solid #000;
  padding: 0 27px 0;
}
._tax_sec_title {
  font-size: 15px;
  color: #000;
  padding: 16px 0 9px;
}
._tax_sec_three {
  display: flex;
  overflow: hidden;
  border-bottom: 1px solid #000;
}
._tax_sec_three_main {
  flex: 1 1;
  overflow: hidden;
  padding: 0 27px 0;
  border-right: 1px solid #000;
}
._tax_sec_three_four {
  flex: 0 0 355px;
}
.applies {
  font-size: 13px;
  padding: 17px 0 0;
}
.form6 span.ivu-radio+* {
  margin-left: 2px;
  margin-right: 2px;
  font-size: 15px;
  color: #000;
  font-weight: 400;
}
._tax_sec_three_four_main{
  /* border-bottom: 1px solid #000; */
  padding: 0 27px 0;
  height: 100%;
}
._tax_secc_five {
  display: flex;
  border-bottom: 1px solid #000;
}
._tax_secc_five_one {
  flex: 1 1;
  overflow: hidden;
}
._tax_secc_five_two {
  padding: 0 27px 0;
  border-left: 1px solid #000;
  flex: 0 0 475px;
}
._tax_secc_six{
  padding: 0 27px 0;
  /* border-left: 1px solid #000; */
}
._tax_sec_seven{
  padding: 0 27px 0;
}
._part1 {
  border-bottom: 1px solid #000;
}
._part1_title {
  border-bottom: 1px solid #000;
  padding: 0 0 0;
  font-size: 22px;
  color: #000;
  font-weight: bold;
  line-height: 26px;
}
._part1_title span {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 4px 25px 4px;
  margin-right: 54px;
}
._part1_main {
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
._part1_main_left {
  flex: 1 1;
  overflow: hidden;
  padding: 13px 50px 12px 0px;
}
._part1_text {
  font-size: 15px;
  color: #000;
  line-height: 24px;
}
._part1_main_right {
  flex: 0 0 518px;
  padding: 12px 0 0;
}
._part1_main_title {
  font-size: 18px;
  color: #000;
  font-weight: bold;
  padding: 0 0 9px;
}
._part1_input{}
._part1_input_main {
  display: flex;
  align-items: center;
}
._part1_input_items .ivu-input-wrapper {
  text-align: center;
}
._part1_input_items .ivu-input{
  text-align: center;
}
._part1_input_items {
  flex: 0 0 36px;
  padding: 0 2px 0;
}
._part1_input_dot {
  flex: 0 0 24px;
  text-align: center;
  font-weight: bold;
  color: #000;
  font-size: 23px;
}
._or {
  font-weight: bold;
  font-size: 25px;
  padding: 0px 0 6px;
  color: #000;
  margin: -9px 00 6px;
}
._part_list li {
  padding: 0 0 10px 1px;
  color: #000000;
  font-size: 15px;
  line-height: 24px;
}
.pb-10{
  padding-bottom: 10px;
} 
.pt-10{
  padding-top: 10px;
}
._part_list{
  padding-bottom: 10px;
}
._sign{}
._sign_header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
}
._sign_header_left {
  display: flex;
  flex: 1 1;
  overflow: hidden;
  align-items: center;
}
._sign_header_here {
  flex: 0 0 102px;
  border-right: 1px solid #000;
  font-size: 31px;
  line-height: 32px;
  font-weight: bold;
  color: #000;
  padding: 6px 0;
}
._sign_header_sig {
  flex: 0 0 auto;
  font-size: 20px;
  line-height: 22px;
  color: #000;
  font-weight: bold;
  padding-left: 18px;
}
._sign_header_right {
  flex: 1 1;
  font-size: 20px;
  line-height: 22px;
  color: #000;
  font-weight: bold;
  overflow: hidden;
  padding-left: 18px;
}
._sign_header_right_text{}
._sign_main {
  padding: 16px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
._sign_main_title {
  font-size: 32px;
  font-weight: bold;
  color: #000;
  padding: 0 0 12px;
}
._sign_sub_title {
  font-size: 25px;
  font-weight: bold;
  color: #000;
  padding: 0 0 12px;
}
._sign_main_left {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 15px;
}
._dot_list{}
._dot_list li:before {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #000;
  left: 0;
  top: 7px;
}
._dot_list li {
  font-size: 15px;
  color: #000;
  position: relative;
  padding: 0 0 6px 15px;
  line-height: 24px;
}
._4list{}
._4list li {
  font-size: 15px;
  color: #000;
  position: relative;
  padding: 0 0 6px 14px;
  line-height: 24px;
}
._2table {
  border-top: 2px solid #000 !important;
  border-bottom: 2px solid #000 !important;
}
._2table tr{}
._2table tr th {
  width: 50%;
  border: 1px solid #000;
  padding: 7px 13px;
  font-size: 15px;
  color: #000;
  font-weight: bold;
  line-height: 24px;
}
.mb-20{
  margin-bottom: 20px;
}
.pb-15{
  padding-bottom: 15px;
}
._2table tr th:first-child {
  border-left: none;
}
._2table tr th:last-child {
  border-right: none;
}
._2table tr td:first-child {
  border-left: none;
}
._2table tr td:last-child {
  border-right: none;
}
._2table tr td {
  width: 50%;
  border: 1px solid #000;
  padding: 7px 13px;
  font-size: 15px;
  color: #000;
  font-weight: 400;
  vertical-align: top;
  line-height: 24px;
}
._sign_main_right{
  flex: 0 0 50%;
    max-width: 50%;
    padding-left: 15px;
}
._mb_20{
  margin-bottom: 20px !important;
}
._mb_15{
  margin-bottom: 15px !important;
}
._pb_50{
  padding-bottom: 50px !important;
}
._mb_10{
  margin-bottom: 10px !important;
}
/*======= Form  ========*/

/* Desktop 1366 */
@media only screen and (max-width: 1500px) {
._sign_main_title {
  font-size: 25px;
}
._sign_sub_title {
  font-size: 20px;
}
._sign_header_here {
  font-size: 24px;
  line-height: 27px;
}
._sign_header_sig {
  font-size: 17px;
  line-height: 20px;
}
._sign_header_right {
  font-size: 17px;
  line-height: 22px;
}
._tax_secc_five_two {
  padding: 0 20px 0;
  flex: 0 0 350px;
}
._tax_secc_six, ._tax_sec_one, ._tax_sec_seven, ._tax_sec_one, ._tax_sec_three_main, ._tax_sec_three_four_main {
  padding: 0 20px 0;
}
._tax_top_one {
  flex: 0 0 235px;
  padding-right: 20px;
}
._tax_top_one_span {
  font-size: 28px;
}
._tax_top_give {
  flex: 0 0 235px;
  padding-left: 20px;
}
._tax_top_give_text {
  font-size: 19px;
  line-height: 25px;
}
._tax_top_title {
  font-size: 25px;
  padding: 0 15px 19px;
}
._tax_top_text {
  font-size: 17px;
  padding: 0 15px 12px;
  line-height: 24px;
}

}