<template>
    <div>
        <div class="_3border_color _footer_main">
            <div class="_footer_main_left">
                <!-- <p class="_footer_copy">Copyright © {{ new Date().getFullYear() }} <a href="https://hombolttech.com/">Hombolt Inc.</a> All Rights Reserved</p> -->
            </div>

            <div class="_footer_main_right">
                <!-- <ul class="_footer_list">
                    <li>
                        <a href="">Privecy</a>
                    </li>
                    <li>
                        <a href="">Policy</a>
                    </li>
                    <li>
                        <a href="">Terms</a>
                    </li>
                </ul> -->
                 <p class="_footer_copy">Copyright © {{ new Date().getFullYear() }} <a href="https://hombolttech.com/">Hombolt Inc.</a> All Rights Reserved</p>
            </div>
        </div>
    </div>
</template>