<template>
  <div>
    <div :class="(isSidebar  == true)?'sidebar sidebar-hide':'sidebar'">
            <div class="sub-sidebar-close" @click="sidebarCollapse">
                <span><i class="fas fa-times"></i></span>
            </div>
            <div class="sidebar-user">
                <div class="sidebar-user-thumb">
                    <figure v-if="authUser.image!=null">
                        <img :src="authUser.image" alt="user" />
                    </figure>
                    <figure v-else>
                         <img src="/images/user.png" alt="user">
                    </figure>
                </div>
                <div class="sidebar-user-det">
                    <h3>{{authUser.firstname}}</h3>
                    <!-- <img src="images/chevron-under.png" alt="icon"> -->
                    <!-- <span class="sidebar-user-icon">
                        <i class="appify-down-open-big"></i>
                    </span> -->
                </div>
            </div>
            <div class="sidebar-list">
                <ul>
                    <li :class=" $route.path == '/' ?'active': ''">
                        <nuxt-link to="/">
                            <span class="si">
                                <Icon type="ios-home" />
                            </span>
                            Dashboard
                        </nuxt-link>
                    </li>
                    <li :class=" $route.path == '/chat' ?'active': ''">
                        <nuxt-link to="/chat">
                            <span class="si">
                                <Icon type="ios-chatboxes" />
                            </span>
                            Chat
                        </nuxt-link>
                    </li>
                    <li :class=" $route.path == '/project' ?'active': ''">
                        <nuxt-link to="/project">
                            <span class="si">
                                <Icon type="ios-list-box" />
                            </span>
                            All Projects 
                            <!-- <span class="sidebar-number" v-if="projectPendingList>0">
                                {{projectPendingList}}
                            </span> -->
                        </nuxt-link>
                    </li>
                    <li :class=" $route.path == '/current-project' ?'active': ''">
                        <nuxt-link to="/current-project">
                            <span class="si">
                                <Icon type="logo-buffer" />
                            </span>
                            Current Projects 
                        </nuxt-link>
                    </li>
                    <li :class=" $route.path == '/pending-project' ?'active': ''">
                        <nuxt-link to="/pending-project">
                            <span class="si">
                               <Icon type="ios-card" />
                            </span>
                            Pending Projects 
                        </nuxt-link>
                    </li>
                    <!-- <li :class=" $route.path == '/calender' ?'active': ''">
                        <nuxt-link to="/calender">
                            <span class="si">
                                <i class="appify-calendar"></i>
                            </span>
                            Calender
                            <span class="sidebar-number" v-if="taskPendingList>0">
                                {{taskPendingList}}
                            </span>
                        </nuxt-link>
                    </li> -->
                    <li :class=" $route.path == '/task' ?'active': ''">
                        <nuxt-link to="/task?tab=all">
                            <span class="si">
                                <Icon type="logo-buffer" />
                            </span>
                            Tasks
                            <span class="sidebar-number" v-if="taskPendingList>0">
                                {{taskPendingList}}
                            </span>
                        </nuxt-link>
                    </li>
                    <li :class=" $route.path == '/request' ?'active': ''">
                        <nuxt-link to="/request?tab=Receive">
                            <span class="si">
                                 <Icon type="ios-send" />
                            </span>
                            Request
                        </nuxt-link>
                    </li>
                    <li :class=" $route.path == '/payroll' ?'active': ''">
                        <nuxt-link to="/payroll">
                            <span class="si">
                            <Icon type="ios-folder-open" />
                            </span>
                            Balance
                        </nuxt-link>
                    </li>
                    <li :class=" $route.path == '/addendum' ?'active': ''">
                        <nuxt-link to="/addendum">
                            <span class="si">
                            <Icon type="md-list" />
                            </span>
                            Addendum
                        </nuxt-link>
                    </li>
                     <li :class=" $route.path == 'profile?tab=basic' ?'active': ''">
                        <nuxt-link to="/profile?tab=basic">
                            <span class="sidebar-cat-img">
                                <Icon type="ios-settings" />
                            </span>
                            Settings
                        </nuxt-link>
                    </li>
                    <li @click="logout">
                        <a>

                            <span class="si">
                                <Icon type="md-log-out" />
                            </span>
                            Logout

                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-footer">
                <!-- <ul>
                    <li>
                        <a href="#"><i class="appify-cog"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="appify-box"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="appify-bell-alt"></i></a>
                    </li>
                    <li class="dropdown-btn">
                        <a href="#"><i class="appify-plus-circled"></i></a>
                        <div class="export-notification dropdown-action">
                            <h3>Export tools</h3>
                            <ul>
                                <li><a href="#"><span><i class="fas fa-print"></i></span>Print</a></li>
                                <li><a href="#"><span><i class="far fa-copy"></i></span>Copy</a></li>
                                <li><a href="#"><span><i class="far fa-file-excel"></i></span>Excel</a></li>
                                <li><a href="#"><span><i class="fas fa-file-csv"></i></span>CSV</a></li>
                                <li><a href="#"><span><i class="far fa-file-pdf"></i></span>PDF</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#"><i class="appify-calendar-1"></i></a>
                    </li>
                </ul> -->
            </div>
        </div>
  </div>
</template>

<script>
// import { mapGetters } from 'vuex'

export default {
    data(){
       return {
         
       }
	}, 
	methods:{
        async logout(){
        const res = await this.callApi('get','/tech/logout')
          if(res.status==204){
            window.location = '/';
          }
          else{
              this.swr();
          }
        },
        sidebarCollapse(){
            var x=!this.isSidebar
            this.$store.commit('setSidebar',x);
        }
	},
    async created(){
         const [res1,res2] = await Promise.all([ 
			this.callApi('get','/tech/pending_project_count_tech'),
			this.callApi('get','/tech/pending_task_count_tech')
        ])
		if(res1.status == 200 && res2.status == 200) {
           this.$store.commit('setProPendingList', res1.data)
           this.$store.commit('setTaskPendingList', res2.data)
		}
		else{
			this.swr()
		}
    }
}
</script>
