<template>
  <div class="chat-people-item">
    <div class="box fluid-height">
      <!-- <div class="box-title">
        <div class="chat-person full-width">
          <div class="chat-person-img">
            <img src="images/100_6.jpg" alt="self" />
            <span class="chat-verify color-success">
              <i class="appify-ok-circled2"></i>
            </span>
          </div>
          <div class="chat-search">
            <div class="search-bar-inner">
              <button>
                <img src="images/search-btn.png" alt="searchicon" />
              </button>
              <input type="text" placeholder="Search or start a new chat" />
            </div>
          </div>
        </div>
      </div>-->
      <div class="chat-all-box full-width">
        <!-- loop goes here -->
        <template v-if="getChatList.length > 0">
          <div
            v-for="(item, chat_index) in getChatList"
            :key="chat_index"
            @click="onClickChatPersonTab(item, chat_index)"
            :class="($route.query.conversation_id == item.conversation.id ) ? `chat-all-item full-width active` : 'chat-all-item full-width'"
          >
            <div class="chat-person-img">
              <!-- <img src="/person.jpg" alt="self" /> -->
              <img :src="item.image" alt />
              <span class="chat-verify color-success">
                <i class="appify-ok-circled2"></i>
              </span>
            </div>
            <div class="chat-person-info">
              <h3 class="capitalize">{{ item.firstname }} {{ item.lastname }}</h3>
              <!-- <p v-if="item.chat">{{ item.chat.message }}</p> -->
            </div>
            <!-- <div v-if="item.chat" class="chat-person-avail"> -->
            <!-- <p>{{ $moment(item.chat.created_at).format("MMM DD YYYY") }}</p> -->
            <!-- <p>10 minutes ago</p> -->
            <!-- <span class="badge-small bagde-circle badge-focus">4</span> -->
            <!-- </div> -->
          </div>
        </template>
        <template v-else>
          <h2 class="no_conversation">You have no conversation</h2>
        </template>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters({
      // getMiddleLoading: "messenger/getMiddleLoading",
      // activeChatPerson: "messenger/getActiveChatPerson",
      getChatList: "messenger/getChatList",
      chatLoadig: "messenger/chatLoading",
      // getLastChats: "messenger/getLastChats",
      // getChatBoxUsersChats: "messenger/getChatBoxUsersChats",
      // getActiveChatFirstId: "messenger/getActiveChatFirstId",
    }),
  },

  data() {
    return {
      form: {
        message: "",
        receiver: "",
        file: [],
      },
      isLoading: false,
      isShowPrevious: false,
      previousId: false,
      firstId: -1,
      search: "",
      isEmo: false,
      firstChat: [],
      conversationActiveIndex: -1,
    };
  },

  methods: {
    onClickChatPersonTab(item, index) {
      if (this.conversationActiveIndex == index) return;

      let obj = {
        id: item.id,
        firstname: item.firstname,
        lastname: item.lastname,
        image: item.image,
        // proifle picture
      };
      this.$store.commit("messenger/setActivePerson", obj);
      this.$store.commit("messenger/setChatLoading", true);
      this.conversationActiveIndex = index;
      return this.getChats(item.id);
    },

    async getChats(id) {
      let url = `/tech/messenger/tech/conversation/get/chatWithLastPerson/${id}`;
      const res = await this.callApi("get", url);

      if (res.status == 200) {
        this.firstChat = res.data.chats;
      } else {
        if (res.status == 403) {
          this.e(res.data.message);
          this.$router.push("/");
        } else {
          if (res.data.message) this.e(res.data.message);
        }
      }

      for (let i of this.firstChat) {
        i.sending_status = "sent";
      }

      let userObj = {
        id: id,
        conversation_id: res.data.conversation_id,
      };

      this.$store.commit("messenger/setChatLoading", false);
      this.$store.commit(
        "messenger/updateLastMessageUserCoversationId",
        userObj
      );
      // this.$store.commit("messenger/setChatList", this.firstChat);
      this.$store.commit("messenger/setLastChats", this.firstChat);
      this.$router.push(`/chat?conversation_id=${res.data.conversation_id}`);
    },

    awayEmoji() {
      this.isEmo = false;
    },

    selectEmoji(emoji) {
      this.form.message += emoji.data;
    },

    clearData() {
      this.form = {
        message: "",
        receiver: "",
        files: [],
      };
      this.isEmo = false;
    },
  },

  mounted() {
    this.isShowPrevious = false;

    if (this.getChatList.length > 0) {
      this.getChats(this.getChatList[0].id);
    }
  },

  watch: {
   
  },
};
</script>