<template>
  <div style="width:100%">
    <div class="chat-details-item">
      <div class="box fluid-height">
        <div class="box-title">
          <template>
            <div class="chat-user full-width">
              <div class="chat-person-img">
                 <img :src="activePerson.image" alt />
                <span class="chat-verify color-success">
                  <i class="appify-ok-circled2"></i>
                </span>
              </div>
              <div class="chat-user-info">
                <h3 class="capitalize">{{ activePerson.firstname }}</h3>
                <p class="color-success">Online</p>
              </div>
              <span @click="onClickAudio(false)" class="icon-img">
                <Icon type="ios-call" />
              </span>
              <span @click="onClickAudio(true)" class="icon-img">
                <Icon type="ios-videocam" />
              </span>
            </div>
            <!-- <div class="box-title-icon-item dropdown-btn">
              <span class="icon-img">
                <i class="appify-ellipsis"></i>
              </span>
              <div class="export-notification dropdown-action">
                <h3>Export tools</h3>
                <ul>
                  <li>
                    <a href="#">
                      <span>
                        <i class="appify-print"></i>
                      </span>Print
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>
                        <i class="appify-clone"></i>
                      </span>Copy
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>
                        <i class="appify-file-excel"></i>
                      </span>Excel
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>
                        <i class="appify-doc-text"></i>
                      </span>CSV
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>
                        <i class="appify-file-pdf"></i>
                      </span>PDF
                    </a>
                  </li>
                </ul>
              </div>
            </div>-->
          </template>
        </div>
        <div class="cn-box-details p-20 full-separation">
          <div class="progress-content progress-content-2 chat_scroll">
            <template v-if="chatLoadig">
              <div class="loading_gif">
                <img src="/loading.gif" alt />
              </div>
            </template>

            <template v-else>
              <template v-if="getLastChats.length > 0">
                <div class="chat-inbox full-width">
                  <div v-for="(item, chat_index) in getLastChats" :key="chat_index">
                    <!-- friends message  -->
                    <div
                      v-if="item.message_sender != authUser.id"
                      :id="`m-${item.id}`"
                      class="chat-inbox-msg chat-owner-msg chat-justify-left"
                    >
                      <div class="chat-msg-container">
                        <div class="chat-msg-item">{{ item.message }}</div>
                        <div class="chat-msg-time">
                          <!-- <p>Message seen 1:22pm</p> -->
                          {{ $moment(item.created_at).format("MMM DD YYYY") }}
                          <span
                            class="_1mess_fri_time"
                          >{{ $moment(item.created_at).format("hh:mm a") }}</span>
                        </div>
                      </div>
                      <div class="chat-msg-img">
                        <template v-if="item.sender_image">
                          <img :src="item.sender_image.image" />
                        </template>
                      </div>
                    </div>
                    <!-- friends message  -->

                    <!-- own message  -->
                    <div
                      v-else
                      :id="`m-${item.id}`"
                      class="chat-inbox-msg chat-owner-msg chat-justify-right"
                    >
                      <div class="chat-msg-container">
                        <div class="chat-msg-item">{{ item.message }}</div>
                        <div class="chat-msg-time">
                          <!-- <p>Message seen 1:22pm</p> -->
                          {{ $moment(item.created_at).format("MMM DD YYYY") }}
                          <span
                            class="_1mess_fri_time"
                          >{{ $moment(item.created_at).format("hh:mm a") }}</span>
                        </div>
                      </div>
                      <div class="chat-msg-img">
                        <img :src="authUser.image" alt="self" />
                      </div>
                    </div>
                    <!-- own message  -->
                  </div>
                </div>
              </template>
              <template v-else>
                <div class="no-data-box">
                  <div class="no-data-thumb">
                    <img src="/notFound.png" alt />
                  </div>
                  <p
                    class="no-data-text"
                  >No message with {{ activePerson.firstname ? activePerson.firstname : 'your agent' }}</p>
                </div>
              </template>
            </template>
          </div>
        </div>
        <div class="cn-box-details p-20">
          <div class="progress-content progress-content-2">
            <div class="chat-message-sender full-width">
              <!-- attachments -->
              <!-- <div class="chat-message-file">
                    <div class="chat-message-file-item chat-message-file-doc">
                      <div class="chat-message-doc-logo">
                        <i class="appify-docs"></i>
                      </div>
                      <div class="chat-message-doc-text">
                        <h4>PDF</h4>
                        <p>file.pdf</p>
                      </div>
                      <div class="chat-file-remove">
                        <i class="appify-cancel"></i>
                      </div>
                    </div>
                    <div class="chat-message-file-item chat-message-file-img">
                      <img src="/person.jpg" alt />
                      <div class="chat-file-remove">
                        <i class="appify-cancel"></i>
                      </div>
                    </div>
                    <div class="chat-message-file-item chat-message-file-img">
                      <img src="/person.jpg" alt />
                      <div class="chat-file-remove">
                        <i class="appify-cancel"></i>
                      </div>
                    </div>
                    <div class="chat-message-file-item chat-message-file-doc">
                      <div class="chat-message-doc-logo">
                        <i class="appify-docs"></i>
                      </div>
                      <div class="chat-message-doc-text">
                        <h4>PDF</h4>
                        <p>file.pdf</p>
                      </div>
                      <div class="chat-file-remove">
                        <i class="appify-cancel"></i>
                      </div>
                    </div>
                    <div class="chat-message-file-item chat-message-file-doc">
                      <div class="chat-message-doc-logo">
                        <i class="appify-docs"></i>
                      </div>
                      <div class="chat-message-doc-text">
                        <h4>PDF</h4>
                        <p>file.pdf</p>
                      </div>
                      <div class="chat-file-remove">
                        <i class="appify-cancel"></i>
                      </div>
                    </div>
                    <div class="chat-message-file-item chat-message-file-doc">
                      <div class="chat-message-doc-logo">
                        <i class="appify-docs"></i>
                      </div>
                      <div class="chat-message-doc-text">
                        <h4>PDF</h4>
                        <p>file.pdf</p>
                      </div>
                      <div class="chat-file-remove">
                        <i class="appify-cancel"></i>
                      </div>
                    </div>
                    <div class="chat-message-file-item chat-message-file-doc">
                      <div class="chat-message-doc-logo">
                        <i class="appify-docs"></i>
                      </div>
                      <div class="chat-message-doc-text">
                        <h4>PDF</h4>
                        <p>file.pdf</p>
                      </div>
                      <div class="chat-file-remove">
                        <i class="appify-cancel"></i>
                      </div>
                    </div>
                    <div class="chat-message-file-item chat-message-file-doc">
                      <div class="chat-message-doc-logo">
                        <i class="appify-docs"></i>
                      </div>
                      <div class="chat-message-doc-text">
                        <h4>PDF</h4>
                        <p>file.pdf</p>
                      </div>
                      <div class="chat-file-remove">
                        <i class="appify-cancel"></i>
                      </div>
                    </div>
                    <div class="chat-message-file-item chat-message-file-doc">
                      <div class="chat-message-doc-logo">
                        <i class="appify-docs"></i>
                      </div>
                      <div class="chat-message-doc-text">
                        <h4>PDF</h4>
                        <p>file.pdf</p>
                      </div>
                      <div class="chat-file-remove">
                        <i class="appify-cancel"></i>
                      </div>
                    </div>
                    <div class="chat-message-file-item chat-message-file-doc">
                      <div class="chat-message-doc-logo">
                        <i class="appify-docs"></i>
                      </div>
                      <div class="chat-message-doc-text">
                        <h4>PDF</h4>
                        <p>file.pdf</p>
                      </div>
                      <div class="chat-file-remove">
                        <i class="appify-cancel"></i>
                      </div>
                    </div>
                    <div class="chat-message-file-item chat-message-file-doc">
                      <div class="chat-message-doc-logo">
                        <i class="appify-docs"></i>
                      </div>
                      <div class="chat-message-doc-text">
                        <h4>PDF</h4>
                        <p>file.pdf</p>
                      </div>
                      <div class="chat-file-remove">
                        <i class="appify-cancel"></i>
                      </div>
                    </div>
              </div>-->
              <!-- attachments -->

              <!-- message box  -->
              <div v-if="list.length > 0" class="chat-message-sender-input">
                <div class="chat-message-input">
                  <!-- <div class="chat-message-attach hover-tooltip-com">
                        <input type="file" />
                        <button>
                          <i class="appify-attach"></i>
                        </button>
                        <p class="hover-tooltip">Attach files</p>
                      </div>
                      <div class="chat-message-attach hover-tooltip-com">
                        <input type="file" />
                        <button>
                          <i class="fas fa-calendar-alt"></i>
                        </button>
                        <p class="hover-tooltip">Calender</p>
                  </div>-->

                  <!-- textarea  -->
                  <textarea
                    v-model="form.message"
                    @keyup.enter="insertChat()"
                    placeholder="Start typing your message.."
                  ></textarea>
                  <!-- textarea  -->
                  <button @click="insertChat()" style="cursor: pointer;">
                    <Icon type="ios-paper-plane" />
                  </button>
                </div>
              </div>
              <!-- message box  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters({
      getLastChats: "messenger/getLastChats",
      chatLoadig: "messenger/chatLoading",
      activePerson: "messenger/getActivePerson",
      list: "messenger/getChatList",
    }),
  },

  data() {
    return {
      form: {
        message: "",
        receiver: "",
        file: [],
      },
      isLoading: false,
      isShowPrevious: false,
      previousId: false,
      firstId: -1,
      search: "",

      isEmo: false,
    };
  },

  methods: {
    onClickAudio(isVideo) {
      let id = this.activePerson.id;

      window.open(
        `/videocall?peer_id=${id}&audio_only=${!isVideo}&type=first`,
        "myWindow",
        "width=1080,height=700"
      );
      // window.open(
      //   `/videocall?peer_id=${id}&audio_only=${!isVideo}&type=first`,
      //   "width=1080,height=700"
      // );
    },
    awayEmoji() {
      this.isEmo = false;
    },

    selectEmoji(emoji) {
      this.form.message += emoji.data;
    },

    async insertChat() {
      this.isShowPrevious = false;
      if (this.form.message.trim() == "") {
        return;
      }

      let receiver = this.activePerson.id;
      // let receiver =
      //   this.getLastChats[0].message_sender == this.authUser.id
      //     ? this.getLastChats[0].message_receiver
      //     : this.getLastChats[0].message_sender;

      let obj = {
        message_sender: this.authUser.id,
        message_receiver: this.authUser.id == 1 ? 2 : 1,
        conversation_id: Number(this.$route.query.conversation_id),
        message: this.form.message,
        seen: 0,
        deleted: 0,
        sending_status: "sending",
      };

      this.getLastChats.push(obj);
      // this.getChatBoxUsersChats.push(obj);

      this.form.receiver = receiver;

      // let lastMsgs = [];
      // for (let i = 1; i <= 5; i++) {
      //   if (this.getLastChats.length - i > -1) {
      //     lastMsgs.push(this.getLastChats[this.getLastChats.length - i]);
      //   }
      // }

      this.form.receiver = receiver;
      // this.form.lastMessages = lastMsgs;
      const res = await this.callApi(
        "post",
        "/tech/messenger/chat/add",
        this.form
      );

      if (res.status == 200) {
        let sound = "/pull-out.mp3";
        let audio = new Audio(sound);
        audio.play();
        // let length = this.getLastChats.length;
        // for (let i = length - 1; i > -1; i--) {
        //   if (this.getLastChats[i].message == this.form.message) {
        //     this.getLastChats[i].sending_status = "sent";
        //     this.getLastChats[i].id = res.data.id;
        //     this.getLastChats[i].created_at = res.data.created_at;
        //   }
        // }
        // for (let i = this.getChatBoxUsersChats.length - 1; i > -1; i--) {
        //   if (this.getChatBoxUsersChats[i].message == this.form.message) {
        //     this.getChatBoxUsersChats[i].sending_status = "sent";
        //     this.getChatBoxUsersChats[i].id = res.data.id;
        //     this.getChatBoxUsersChats[i].created_at = res.data.created_at;
        //   }
        // }
        // this.getLastChats[length - 1].id = res.data.id;
        // this.getLastChats[length - 1].created_at = res.data.created_at;
        // this.getChatBoxUsersChats[this.getChatBoxUsersChats.length - 1].id =
        //   res.data.id;
        // this.getChatBoxUsersChats[
        //   this.getChatBoxUsersChats.length - 1
        // ].created_at = res.data.created_at;
        this.$store.commit(
          "messenger/updateLastMessageToChatList",
          this.getLastChats[this.getLastChats.length - 1]
        );
        // this.getLastChats.push(obj)
      } else {
        if (res.data.message) {
          this.e(res.data.message);
          let length = this.getLastChats.length;
          this.getLastChats.splice(this.getChatBoxUsersChats.length - 1, 1);
        }
      }

      this.clearData();
    },

    async getPreviousChats() {
      if (this.getLastChats[0].id == this.getActiveChatFirstId) {
        return;
      }
      this.isLoading = true;

      const res = await this.callApi(
        "get",

        `/tech/messenger/conversation/previous-chat/${this.getLastChats[0].conversation_id}/${this.getLastChats[0].id}`
      );
      if (res.status == 200) {
        if (res.data.chats.length == 0) {
          return;
        }
        res.data.chats = res.data.chats.reverse();
        this.previousId = res.data.chats[0].id;
        this.isShowPrevious = true;

        for (let i of res.data.chats) {
          this.getLastChats.unshift(i);
        }
      } else {
        if (res.data.message) this.e(res.data.message);
      }
      this.isLoading = false;
      //   this.$router.push(`/messenger?conversation_id=${id}`);
    },

    clearData() {
      this.form = {
        message: "",
        receiver: "",
        files: [],
      };
      this.isEmo = false;
    },
  },

  mounted() {
    this.isShowPrevious = false;
  },

  watch: {
    // getLastChats() {
    //   let length = this.getLastChats.length;
    //   if (length > 0) {
    //     if (this.isShowPrevious && this.previousId) {
    //       // setTimeout(function() {
    //       //   document.getElementById("m-" + this.previousId).scrollIntoView();
    //       // }, 100);
    //     } else {
    //       let id = this.getLastChats[length - 1].id
    //         ? this.getLastChats[length - 1].id
    //         : this.getLastChats[length - 2].id;
    //       //takes a bit for dom to actually update
    //       setTimeout(function () {
    //         document.getElementById("m-" + id).scrollIntoView();
    //       }, 100);
    //     }
    //   }
    // },
  },
};
</script>

<style scoped>
.loading_gif {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20%;
}
</style>