<template>
  <div>
      <!-- body content -->
        <div class="_main_content">
            <div class="_1card full-height">
                <div class="error-content-inner full-height">
                    <div class="error-left">
                        <h1 class="_text_center _padd_t100 _mar_t100">404</h1>
                        <p class="_text_center _padd_t10" v-if="error.statusCode === 404"><strong>OOPS!</strong> Page not found!</p>
                    </div>
                    <div class="error-right _padd_t20 _text_center _padd_b100">
                        <nuxt-link to="/"><Button type="primary">Back to home page.</Button></nuxt-link>
                    </div>
                </div>
            </div>
        </div>
  </div>
</template>

<script>
export default {
 middleware: 'authenticated',
 props: ['error'],


 created(){
    console.log('this.$route')
    console.log(this.$route)
}
};


</script>

<style>
.full-height{
    min-height: 600px;
}
</style>