<template>
	<div>
		<div class="_main_content">
			<div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="_1card">
                        <div class="_1card_top">
                            <div class="_1card_top_left">
                            <p class="_1card_top_title">Addendum List</p>
                            </div>
                        </div>
                        <div class="_1card_body">
                            <div class="_table_responsive">
                                <Table class="_table1800" border :columns="columns" :data="addendumData" :loading="loading" :no-data-text="no_data_text">
                                    <template slot-scope="{row }" slot="name">
                                        <span>{{row.name}}</span>
                                    </template>
                                    <template slot-scope="{row }" slot="senior_percentage">
                                        <span class=""> {{row.senior_management}}%</span>
                                    </template>
                                    <template slot-scope="{row }" slot="sales_percentage">
                                        <span class=""> {{row.sales_director}}%</span>
                                    </template>
                                    <template slot-scope="{row }" slot="tech_percentage">
                                        <span class=""> {{row.tech_sales_agent}}%</span>
                                    </template>
                                    <template slot-scope="{row }" slot="billable_hour">
                                        <span class=""> ${{row.billable_hour}}</span>
                                    </template>
                                    <template slot-scope="{row }" slot="min_price">
                                        <span class=""> ${{row.min_price}}</span>
                                    </template>
                                </Table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            alldata:[],
            form:{
                name:'',
                senior_management:'',
                sales_director:'',
                tech_sales_agent:'',
                billable_hour:'',
                min_price:'',
            },
            error:{
                name:' ',
                senior_management:' ',
                sales_director:' ',
                tech_sales_agent:' ',
                billable_hour:' ',
                min_price:' ',
            },
            export2:-1,
            export3:-1,
            export1:false,
            export6:false,
            export7:false,
            ditailsModal:false,
            details:'',
            page:1,
            pageSize:10,
            pageOption:[5,10,15,20],
            str:'',
            editIndex:-1,
            colName:'id',
            order:'desc',
            campModal:false,
            editModal:false,
            isLoading:false,
            err:'',
            no_data_text:'No Data Found !!!',
             columns: [
                {
                    title: '#',
                    width: 100,
                    align: 'center',
                    render: (h, params) => {
                        return h('div', [
                            h('strong', ((params.index)+1))
                        ]);
                    }
                },
                {
                    title: 'ID',
                    key: 'id',
                    width:100
                },
                {
                    title: 'Addendum Name',
                    slot: 'name'
                },
                {
                    title: 'Senior Management (percentage)',
                    slot: 'senior_percentage'
                },
                {
                    title: 'Sales Director (percentage)',
                    slot: 'sales_percentage'
                },
                {
                    title: 'Technology Sales agent (percentage)',
                    slot: 'tech_percentage'
                },
                {
                    title: 'Billable Hour rate',
                    slot: 'billable_hour'
                },
                {
                    title: 'Min Price',
                    slot: 'min_price',
                    width:120
                },
            ],
        }
    },
    methods:{

       async searchByKey(){
             this.isLoading = true
             this.page = 1
             const res  = await this.callApi("get", `/getALlCampaign?colName=${this.colName}&order=${this.order}&page=1&pageSize=${this.pageSize}&str=${this.str}`)
            if(res.status==200){
                this.addendumData = res.data.data
                this.pagination = res.data
                this.isLoading = false
            }
            else if(res.status==403){
                this.e(res.data.message)
            }
            else if(res.status==401){
                this.e(res.data.message)
            }
            else{
                this.e('please check your network')

            }
            this.isLoading = false
        },
    
        openExport(item,index){
          
            if(this.export2==index)
               return this.export2 =-1
            this.export2 = index
        },
 
        openExport2(item,index){
          
            if(this.export3==index)
               return this.export3 =-1
            this.export3 = index
        },
    
     modalOpen(){
        this.form ={
                name:'',
                senior_management:'',
                sales_director:'',
                tech_sales_agent:'',
                billable_hour:'',
                min_price:'',
            },
       this.error={
                name:' ',
                senior_management:' ',
                sales_director:' ',
                tech_sales_agent:' ',
                billable_hour:' ',
                min_price:' ',
            },
        this.campModal = true
    },
    closeModal(){
         this.form ={
                name:'',
                senior_management:'',
                sales_director:'',
                tech_sales_agent:'',
                billable_hour:'',
                min_price:'',
            },
       this.error={
                name:' ',
                senior_management:' ',
                sales_director:' ',
                tech_sales_agent:' ',
                billable_hour:' ',
                min_price:' ',
            },
        this.campModal = false
    },
    closeEditModal(){
         this.form ={
                name:'',
                senior_management:'',
                sales_director:'',
                tech_sales_agent:'',
                billable_hour:'',
                min_price:'',
            },
         this.error={
                name:' ',
                senior_management:' ',
                sales_director:' ',
                tech_sales_agent:' ',
                billable_hour:' ',
                min_price:' ',
            },
       this.editIndex = -1
        this.editModal = false
    },
    editmodalOpen(item,index){
         this.form = JSON.parse(JSON.stringify(item))
        this.error={
                name:' ',
                senior_management:' ',
                sales_director:' ',
                tech_sales_agent:' ',
                billable_hour:' ',
                min_price:' ',
            },
        this.editIndex = index
        this.export2 =-1
        this.editModal = true
    },


    async updateAddendum(){
        if(!this.form.name || this.form.name.trim()=='') return this.error.name = ''
        this.error.name = this.form.name.trim()
        if(!this.form.senior_management || this.form.senior_management=='') return this.error.senior_management = ''
        this.error.senior_management = this.form.senior_management
        if(!this.form.sales_director || this.form.sales_director=='') return this.error.sales_director = ''
        
        this.error.sales_director = this.form.sales_director
        if(!this.form.tech_sales_agent || this.form.tech_sales_agent=='') return this.error.tech_sales_agent = ''
        this.error.tech_sales_agent = this.form.tech_sales_agent
        if(!this.form.billable_hour || this.form.billable_hour=='') return this.error.billable_hour = ''
        this.error.billable_hour = this.form.billable_hour
        if(!this.form.min_price || this.form.min_price=='') return this.error.min_price = ''
        this.error.min_price = this.form.min_price

        const res = await this.callApi('post', '/updateAddendum', this.form)
        if(res.status==200){
            this.s("Addendum has been Updated!!")
            this.addendumData[this.editIndex]= res.data
            this.form ={}
             this.editIndex = -1
             this.editModal = false
        }
        else if(res.status==403){
                this.e(res.data.message)
        }
        else if(res.status==401){
            this.e(res.data.message)
        }
        else{
            this.e("plase check your network !!")
        }

        
    },
    async storeAddendum(){
        if(!this.form.name || this.form.name.trim()=='') return this.error.name = ''
        this.error.name = this.form.name.trim()
        if(!this.form.senior_management || this.form.senior_management=='') return this.error.senior_management = ''
        this.error.senior_management = this.form.senior_management
        if(!this.form.sales_director || this.form.sales_director=='') return this.error.sales_director = ''
        this.error.sales_director = this.form.sales_director
        if(!this.form.tech_sales_agent || this.form.tech_sales_agent=='') return this.error.tech_sales_agent = ''
        this.error.tech_sales_agent = this.form.tech_sales_agent
        if(!this.form.billable_hour || this.form.billable_hour=='') return this.error.billable_hour = ''
        this.error.billable_hour = this.form.billable_hour
        if(!this.form.min_price || this.form.min_price=='') return this.error.min_price = ''
        this.error.min_price = this.form.min_price

        const res = await this.callApi('post', '/addnewAddendum', this.form)
        if(res.status==200){
            this.s("Addendum has been added!!")
            this.addendumData.unshift(res.data)
            this.form ={}
             this.campModal = false
        }
        else if(res.status==403){
                this.e(res.data.message)
        }
        else if(res.status==401){
            this.e(res.data.message)
        }
        else{
            this.e("plase check your network !!")
        }

        
    },
    async assingData(l){
        if(l==1) {
               if(!this.form.name || this.form.name.trim()=='') return this.error.name = ''
              this.error.name = this.form.name.trim()
        }
        if(l==2) {
               if(!this.form.senior_management || this.form.senior_management=='') return this.error.senior_management = ''
              this.error.senior_management = this.form.senior_management
        }
        if(l==3) {
               if(!this.form.sales_director || this.form.sales_director=='') return this.error.sales_director = ''
              this.error.sales_director = this.form.sales_director
        }
        if(l==4) {
               if(!this.form.tech_sales_agent || this.form.tech_sales_agent=='') return this.error.tech_sales_agent = ''
               this.error.tech_sales_agent = this.form.tech_sales_agent
        }
        if(l==5) {
               if(!this.form.billable_hour || this.form.billable_hour=='') return this.error.billable_hour = ''
               this.error.billable_hour = this.form.billable_hour
        }
        if(l==6) {
               if(!this.form.min_price || this.form.min_price=='') return this.error.min_price = ''
               this.error.min_price = this.form.min_price
        }
        
    }
    
    },

     async asyncData({ app, store, redirect, params,query }) {
        

    try {
        const res = await app.$axios.get(`/tech/getAllAddandum`)

        var addendumData


    if(res.status==200)
      addendumData = res.data
     return {
         addendumData:addendumData,
         
         
      };
    } catch (error) {
      //return redirect('/404')
    }
  },
}
</script>