<template>
	<div>
		<div class="_main_content">
			<div class="row">
				<div class="col-12 col-md-6 col-lg-3 _mar_b20">
					<div class="_box _b_radious3">
						<div class="_dash_card">
							<div class="_dash_card_icon">
								<Icon type="md-cash" />
							</div>
							<div class="_dash_card_details">
								<p class="_dash_card_amm">${{totalBalance ? totalBalance : 0}}</p>
								<p class="_dash_card_title">Current balance</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-md-6 col-lg-3 _mar_b20">
					<div class="_box _b_radious3">
						<div class="_dash_card">
							<div class="_dash_card_icon">
								<Icon type="ios-link" />
							</div>
							<div class="_dash_card_details">
								<p class="_dash_card_amm">{{ newProjects ? newProjects : 0 }}</p>
								<p class="_dash_card_title">New projects</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-md-6 col-lg-3 _mar_b20">
					<div class="_box _b_radious3">
						<div class="_dash_card">
							<div class="_dash_card_icon">
								<Icon type="md-stopwatch" />
							</div>
							<div class="_dash_card_details">
								<p class="_dash_card_amm">{{runningProjects ? runningProjects : 0}}</p>
								<p class="_dash_card_title">Running projects</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-md-6 col-lg-3 _mar_b20">
					<div class="_box _b_radious3">
						<div class="_dash_card">
							<div class="_dash_card_icon">
								<Icon type="ios-cart" />
							</div>
							<div class="_dash_card_details">
								<p class="_dash_card_amm">{{comProjects? comProjects : 0}}</p>
								<p class="_dash_card_title">Completed projects</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-md-6 col-lg-3 _mar_b20">
					<div class="_box _b_radious3">
						<div class="_dash_card">
							<div class="_dash_card_icon">
								<Icon type="ios-link" />
							</div>
							<div class="_dash_card_details">
								<p class="_dash_card_amm">{{totalProjects ? totalProjects :0}}</p>
								<p class="_dash_card_title">Total projects</p>
							</div>
						</div>
					</div>
				</div>

        <div class="col-12 col-md-12 col-lg-12">
					<div class="_1card">
						<div class="_1card_top">
							<div class="_1card_top_left">
								<p class="_1card_top_title">Projects</p>
							</div>
						</div>

              <div class="_1card_body">
                  <div class="_table_responsive">
                      <Table class="_table1700" border :columns="columns1" :data="projectData">
                          <template slot-scope="{row }" slot="projectType">
                              <span v-if="row.addendum">{{row.addendum.name}}</span>
                          </template>
                          <template slot-scope="{ row }" slot="date">
                            <span v-if="row.startDate">{{ isDate(row.startDate) }}</span>
                              <span v-else>Not Started Yet</span>
                          </template>
                          <template slot-scope="{row }" slot="progress">
                                  <div class="d_card_bottom_left" >
                                  <i-circle :percent="row | projectProgress">
                                      <span class="demo-Circle-inner">{{ row |projectProgress}}%</span>
                                  </i-circle>
                              </div>
                          </template>
                          <template slot-scope="{row }" slot="clientName">
                              <h3 class="_3table_title">
                                  <span v-if="row.user">{{row.user.id}} - {{row.user.firstname}} {{row.user.lastname}}</span>
                              </h3>
                          </template>
                          <template slot-scope="{row,index}" slot="status">
                              <span  type="submit" @click="clickStatusOn(index)" :class="row.status=='Pending'? 'self-status status-danger' : 'self-status status-danger'" ><i class="fas fa-pencil-alt"></i> {{row.status}}</span>
                          </template>
                          <template slot-scope="{row }" slot="paymentStatus">
                              <span class="payment_status">{{row.paymentStatus}}</span>
                          </template>
                          <template slot-scope="{row }" slot="action">
                             <ul class="action_list">
                                <li>
                                    <nuxt-link :to="`/project/${row.id}`">
                                        <Button>VIEW</Button>
                                    </nuxt-link>
                                </li>
                             </ul>
                          </template>
                      </Table>
                  </div>
              </div>
            </div>
			  </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from "moment";
import { mapGetters } from "vuex";
export default {
  middleware: "authenticated",
  computed: {
    ...mapGetters({
      runningProjcetList: "getProjectRunningList",
    }),
  },
  data() {
    return {
      // runningProjcet: "",
      // projectData: [],
      loading: false,

       no_data_text: "No projects found",
       // view table
      columns1: [
         {
              title: '#',
              width: 100,
              align: 'center',
              render: (h, params) => {
                  return h('div', [
                      h('strong', ((params.index)+1))
                  ]);
              }
          },
          {
              title: 'Project ID',
              key: 'id',
              width: 150,
          },
          {
              title: 'Project Type',
              slot: 'projectType',
          },
          {
              title: 'Start Date',
              slot: 'date',
          },
          // {
          //     title: 'Total amount',
          //     slot: 'sales_price',
          //     width: 140,
          // },
          {
              title: 'Progress',
              slot: 'progress',
          },
          {
              title: 'Project status',
              key: 'status',
          },
          {
              title: 'Payment method',
              key: 'paymentStatus',
          },

          {
              title: 'Action',
              slot: 'action'
          }
      ],
    };
  },

  methods: {
    isDate(date) {
      return moment(date).format("DD-MM-YYYY");
    },
  },
  filters: {
    projectProgress(item) {
      let percentage = 0;
      if (
        item.task.length > 0 &&
        item.task[0].sum != 0 &&
        item.task_complete.length > 0
      )
        percentage = Math.floor(
          (item.task_complete[0].com_sum * 100) / item.task[0].sum
        );
      return percentage;
    },
  },
  async asyncData({ app, params, query }) {
        try {
          const [res1,res2] = await Promise.all([
              app.$axios.get(`/tech/running_project_count_tech`),
              app.$axios.get(`/tech/dashboardOverview`)
          ]);

           var totalClients;
          var clients;
          var totalProjects;
          var runningProjects;
          var comProjects;
          var newProjects;
          var projects;
          var totalBalance;

          if(res2.status==200){
            totalBalance = res2.data.totalBalance ? res2.data.totalBalance : 0
            // totalClients = res2.data.totalClients
            // clients = res2.data.clients
            totalProjects = res2.data.totalProjects
            runningProjects = res2.data.runningProjects
            comProjects = res2.data.comProjects
            newProjects = res2.data.newProjects
            projects = res2.data.projects
          }


          return {
              totalProjects: totalProjects,
              runningProjects: runningProjects,
              projectData: projects,
              newProjects: newProjects,
              comProjects: comProjects,
              totalBalance: totalBalance,
          }
        } catch (e) {
        }
    },
  // async created() {
  //   const [res1, res2,res3] = await Promise.all([
  //     this.callApi("get", "/tech/running_project_count_tech"),
  //     this.callApi("get", "/tech/get_dashboad_project"),
  //     this.callApi("get",`/tech/dashboardOverview`)
  //   ]);
  //   if (res1.status == 200 && res2.status == 200) {
  //     // this.runningProjcet = res1.data;
  //     this.projectData = res2.data;
  //     this.$store.commit("setProRunningList", res1.data);
  //   } else {
  //     this.swr();
  //   }
  // },
};
</script>

