<template>
	<div>
		<div class="_main_content">
			<div class="row">
                <div class="col-12 col-md-12 col-lg-12">
					<div class="_1card">
						<div class="_1card_top">
							<div class="_1card_top_left">
								<p class="_1card_top_title">Balance List</p>
								<div class="_1card_top_search">
									<Input class="iview_search_box" v-model="str" @on-keyup="searchByKey" search placeholder="Search balance..." />
								</div>
							</div>
							<div class="_1card_top_right">
								<ul class="_1card_top_right_list">
    							    <li><p class="_balance">Total Balance : <span>${{totalBalance}}</span></p></li>
								</ul>
							</div>
						</div>
                         <div class="_1card_body">
                            <div class="_table_responsive">
                                <Table class="_table900" border :columns="columns" :data="data.data" :loading="loading" :no-data-text="no_data_text">
                                    <template slot-scope="{row }" slot="projectType">
                                        <h3 class="_3table_title" v-if="row.project.addendum">{{row.project.addendum.name}}</h3>
                                    </template>
                                    <template slot-scope="{row }" slot="amount">
                                        <span class="self-status status-success"> ${{row.amount}}</span>
                                    </template>
                                </Table>
                            </div>

                            <div class="_pagination _padd_t20">
                                <Page :current="parseInt(data.page)" :total="data.total" @on-change="paginateDataInfo"  :page-size="parseInt(data.perPage)" show-sizer show-total :page-size-opts="pageOption" @on-page-size-change="getSizeChange" />
                            </div>
                        </div>
                    </div>
                    <Modal
                    v-model="ditailsModal"
                    title="details"
                    >
                        <p>{{details}}</p>

                        <div slot="footer">
                            <Button  @click="ditailsModal=false" >Close</Button>
                        </div>
                    </Modal>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    middleware: 'authenticated',
    data(){
        return{
            alldata:[],
            export2:-1,
            export6:false,
            export7:false,
            export3:-1,
            isLoading:false,
            export1:false,
            ditailsModal:false,
            details:'',
            page:1,
            pageSize:1,
            pageOption:[5,10,15,20],
            order:'desc',
            colName:'',
            str:'',
            totalBalance:0,
            no_data_text:'No Data Found !!!',
             columns: [
                {
                    title: '#',
                    width: 100,
                    align: 'center',
                    render: (h, params) => {
                        return h('div', [
                            
                            h('strong', ((params.index)+1)+(((this.data.page-1)*this.data.perPage)))
                        ]);
                    }
                },
                {
                    title: 'ID',
                    key: 'id',
                    width:100
                },
                {
                    title: 'Project Type',
                    slot: 'projectType'
                },
                {
                    title: 'Type',
                    key: 'type'
                },
                {
                    title: 'Amount',
                    slot: 'amount',
                    width:200
                },
            ],
        }
    },
    methods:{
        async paginateDataInfo(e){
            this.isLoading = true
             this.page = e
             const res  = await this.callApi("get", `/tech/allagentbalance?page=${this.page}&pageSize=${this.pageSize}&str=${this.str}`)
            if(res.status==200){
                this.data = res.data
                this.isLoading = false
            }
            else if(res.status==403){
                this.e(res.data.message)
            }
            else{
                this.e('please check your network')

            }
            this.isLoading = false
        },
       async sortBy(colName,orderBy){
           this.colName = colName
           this.order = orderBy
           this.searchByKey()
       },
       async searchByKey(){
             this.isLoading = true
             this.page = 1
             const res  = await this.callApi("get", `/tech/allagentbalance?page=${this.page}&pageSize=${this.pageSize}&str=${this.str}&colName=${this.colName}&order=${this.order}`)
            if(res.status==200){
                this.data = res.data
                this.isLoading = false
            }
            else if(res.status==403){
                this.e(res.data.message)
            }
            else{
                this.e('please check your network')

            }
            this.isLoading = false
        },
        getSizeChange(e){
            // this.i(e)
            this.pageSize =e
            this.paginateDataInfo(this.page)
        },
        openDetails(description){
            this.details =description
            this.ditailsModal=true
        },
        openExport(item,index){
          
            if(this.export2==index)
               return this.export2 =-1
            this.export2 = index
        },
        openExport2(item,index){
          
            if(this.export3==index)
               return this.export3 =-1
            this.export3 = index
        },
       
    },
     async asyncData({ app, store, redirect, params,query }) {
        

    try {
        
        const [ res, res2] = await Promise.all([
            
            app.$axios.get(`/tech/allagentbalance`),
            app.$axios.get(`/tech/getAgentBalance`)
        ]) 

        var data
        var totalBalance


    if(res.status==200)
      data = res.data
      totalBalance = res2.data
     return {
         data:data,
         totalBalance:totalBalance,
         
      };
    } catch (error) {
      //return redirect('/404')
    }
  },
}
</script>