<template>
	<div>
		<div class="_main_content">
			<div class="row">
                <div class="col-12 col-md-12 col-lg-12">
					<div class="_1card">
						<div class="_1card_top">
							<div class="_1card_top_left">
								<p class="_1card_top_title">Pending Project List</p>
								<div class="_1card_top_search">
                                    <Input search enter-button="Search" placeholder="Enter something..." v-model="searchFilter"  @on-search="searchProject"/>
								</div>
							</div>
						</div>
                        <div class="_1card_body">
                            <div class="_table_responsive">
                                <Table class="_table2000" border :columns="columns" :data="projectData" :loading="loading" :no-data-text="no_data_text">
                                    <template slot-scope="{row ,index}" slot="addendam">
                                        <template v-if="row.addendum && row.addendum.name">
                                        <span class="descrip">{{row.addendum.name}}</span>
                                    </template>
                                    <template v-else>
                                        <Button @click="openAddundumModal(row,index)" class="_button_black">Add Addendum</Button>
                                    </template>
                                    </template>
                                    <template slot-scope="{row }" slot="tech_price">
                                            <span>${{row.tech_price}}</span>
                                    </template>
                                        <!-- <template slot-scope="{row }" slot="client_price">
                                            <span>${{row.client_price}}</span>
                                    </template> -->
                                    <template slot-scope="{row }" slot="startDate">
                                            <span v-if="row.startDate">{{isDate(row.startDate)}}</span>
                                    </template>
                                    <template slot-scope="{row }" slot="progress">
                                            <div class="d_card_bottom_left" >
                                            <i-circle :percent="row | projectProgress">
                                                <span class="demo-Circle-inner">{{ row |projectProgress}}%</span>
                                            </i-circle>
                                        </div>
                                    </template>
                                    <template slot-scope="{row }" slot="hour">
                                            {{row.hour}}hrs
                                    </template>
                                    <template slot-scope="{row }" slot="clientName">
                                        <h3 class="_3table_title">
                                            <span v-if="row.user">{{row.user.id}} - {{row.user.firstname}} {{row.user.lastname}}</span>
                                        </h3>
                                    </template>
                                    <template slot-scope="{row}" slot="status">
                                        <span class="self-status status-danger">{{row.status}}</span>
                                    </template>
                                    <template slot-scope="{row }" slot="paymentStatus">
                                        <span class="payment_status">{{row.paymentStatus}}</span>
                                    </template>
                                    <template slot-scope="{row,index}" slot="action">
                                        <nuxt-link :to="`/project/${row.id}`">
                                            <Button>
                                                VIEW
                                            </Button>
                                        </nuxt-link>
                                         <nuxt-link :to="`/task?project_id=${row.id}`">
                                            <Button>
                                                TASK
                                            </Button>
                                        </nuxt-link>
                                        <Button v-if="row.addendum_id!=null" @click="projectEditOn(row,index)">
                                            EDIT PRICE
                                        </Button>
                                    </template>
                                </Table>
                            </div>
                            <div class="_pagination _padd_t20">
                                <Page :current="parseInt(pagination.page)" :total="pagination.total" @on-change="getpaginate"  :page-size="parseInt(pagination.perPage)" show-sizer show-total :page-size-opts="pageOption" @on-page-size-change="getSizeChange" />
                            </div>
                        </div>

                                <Modal v-model="EditModal" title="Edit Project" >
                                    <Form ref="formValidate"  :model="editItem"   label-position="top" class="iview_submit_form">
                                        <FormItem   label="Technician Price" :error="error.tech">
                                            <InputNumber
                                                :min="0"
                                                v-model="editItem.tech_price"
                                                :formatter="value => `$ ${value}`.replace(/\B(?=(\d{3})+(?!\d))/g, ',')"
                                                :parser="value => value.replace(/\$\s?|(,*)/g, '')">
                                            </InputNumber>
                                        </FormItem>
                                        
                                    </Form> 
                                    <div slot="footer">
                                        <Button  @click="EditModal=false">Close</Button>
                                        <Button type="primary" :disabled="loading"   :loading="loading" @click="update_project_tech">{{loading==true?'Please Wait' : "Update"}}</Button>
                                    </div>
                                </Modal>

                                <!-- <Modal v-model="EditModal" title="Edit Project" >
                                    <Form ref="formValidate"  :model="editItem" label-position="top" class="iview_submit_form">
                                        <FormItem  prop="tech_price" label="Technician Price($)">
                                            <Input min=0 type="number" v-model="editItem.tech_price"></Input>
                                        </FormItem>
                                        <FormItem  prop="hour" label="Worked Hour">
                                            <Input min=0 type="number" v-model="editItem.hour"></Input>
                                        </FormItem>
                                    </Form>
                                    <div slot="footer">
                                        <Button  @click="EditModal=false">Close</Button>
                                        <Button type="primary" :disabled="loading"   :loading="loading" @click="handleSubmit('formValidate')">{{loading==true?'Please Wait' : "Update"}}</Button>
                                    </div>
                                </Modal> -->
                                <!-- <Modal v-model="addundamModal" title="Add Addendum To The Project">
                                    <Form ref="formValidateaddendum"  :model="neform" :rules="ruleCustom" label-position="top" class="iview_submit_form">
                                        <FormItem   label="Project Name:">
                                            <Input disabled  v-model="neform.name"></Input>
                                        </FormItem>
                                        <FormItem  prop="addandumId" label="Addendum">
                                            <Select v-model="neform.addandumId" filterable >
                                                <Option :value="it.id" v-for="(it, i) in allAddandum" :key="i" :label="it.name">{{it.name}}</Option>
                                            </Select>
                                        </FormItem>
                                    </Form>
                                    <div slot="footer">
                                        <Button  @click="addundamModal=false">Close</Button>
                                        <Button type="primary" :disabled="loading"   :loading="loading" @click="handleSubmit('formValidateaddendum')">{{loading==true?'Please Wait' : "Update"}}</Button>
                                    </div>
                                </Modal> -->
                                <Modal v-model="addundamModal" title="Add Addendum To The Project">
                                    <Form  label-position="top" class="iview_submit_form">
                                        <FormItem   label="Project Name:">
                                            <Input disabled  v-model="neform.name"></Input>
                                        </FormItem>
                                        <FormItem   label="Addendum" :error="error.addandumId" >
                                            <Select v-model="neform.addandumId" filterable >
                                                <Option :value="it.id" v-for="(it, i) in allAddandum" :key="i" :label="it.name">{{it.name}}</Option>
                                            </Select>
                                        </FormItem>
                                    </Form>
                                    <div slot="footer">
                                        <Button  @click="addundamModal=false">Close</Button>
                                        <Button type="primary" :disabled="loading"   :loading="loading" @click="assignAddundamtotheProject">{{loading==true?'Please Wait' : "Update"}}</Button>
                                    </div>
                                </Modal>
                                <!-- <Modal
            v-model="addundamModal"
            title="Add Addendum To The Project"
            >
                    <div class="cn-box-details">
                        <div class="only-card-details">
                            
                            <div class="only-card-body wizard-card-body">
                            

                                    <div class="user-profile-edit-item wizard-edit-item active" >
                                        <div class="wizard-edit-box full-width">
                                            <div class="wizard-edit-sec">
                                                <div class="flex-grid">
                                                    <div class="item-lg-12 item-md-12 item-sm-12">
                                                        <div class="wizard-edit-group">
                                                            <div
                                                                class="profile-edit-group-item item-lg-12 item-md-12 item-sm-12">
                                                                <label
                                                                    class="wizard-edit-name full-width color2">Project Name:</label>
                                                            </div>
                                                            <div
                                                                class="profile-edit-group-item item-lg-12 item-md-12 item-sm-12">
                                                                <div class="profile-edit-input">
                                                                   
                                                                    <input  type="text" value="Logan Weaver" disabled
                                                                        placeholder="last name" class="profile-input" v-model="neform.name">
                                                                   
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item-lg-12 item-md-12 item-sm-12">
                                                        <div class="wizard-edit-group">
                                                            <div
                                                                class="profile-edit-group-item item-lg-12 item-md-12 item-sm-12">
                                                                <label
                                                                    class="wizard-edit-name full-width color2">Addendum:</label>
                                                            </div>
                                                            <div
                                                                class="profile-edit-group-item item-lg-12 item-md-12 item-sm-12">
                                                                 <div class="profile-edit-input">
                                                                        <Select v-model="neform.addandumId" filterable >
                                                                            <Option value=""></Option>
                                                                            <Option :value="it.id" v-for="(it, i) in allAddandum" :key="i" :label="it.name">{{it.name}}</Option>
                                                                         </Select>
                                                                     
                                                                       <span v-if="error2==''" class="input-muted-text">Please Select Addendum
                                                                        </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                            
                                                </div>
                                            </div>
                                        </div>
                                      
                                      
                                    </div>


                            </div>
                        </div>
                    </div>

              <div slot="footer">
                                          
                <button  class="btn1 uppercase full-btn wizard-next"
                        @click="addundamModal=false" >Close</button>
                        <button @click="assignAddundamtotheProject" class="btn1 uppercase full-btn wizard-next" >Store</button>
             </div>
        </Modal> -->
           
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moment from "moment";
export default {
    middleware: 'authenticated',
	data(){
		return {
        pageOption:[5,10,15,20],
        loading:false,
        editIndex:-1,
        editId:-1,
        statusOn:true,
        statusValue:'',
        EditModal:false,
        editItem:{
            tech_price:0,
            id:'',
         },
         error:{
             tech:'',
             addandumId:'',
         },
         projectEditIndex:-1,
         searchFilter:'',
         project_id:'',
           neform:{
             name:'',
             projectId:"",
             addandumId:"",
         },
         newEdit:-1,
         addundamModal:false,
         allAddandum:[],
         no_data_text:'No Data Found !!!',
          columns: [
                {
                    title: '#',
                    width: 100,
                    align: 'center',
                    render: (h, params) => {
                        return h('div', [
                            
                            h('strong', ((params.index)+1)+(((this.pagination.page-1)*this.pagination.perPage)))
                        ]);
                    }
                },
                {
                    title: 'ID', 
                    key: 'id',
                    width: 100
                },
                {
                    title: 'Project Type',
                    slot: 'addendam'
                },
                {
                    title: 'Technician Price',
                    slot: 'tech_price'
                },
                // {
                //     title: 'Minimum Price',
                //     slot: 'client_price'
                // },
                {
                    title: 'Start Date',
                    slot: 'startDate',
                    width: 120
                },
                {
                    title: 'Progress',
                    slot: 'progress',
                    width: 120
                },
                {
                    title: 'Total Hour',
                    slot: 'hour'
                },
                {
                    title: 'Client',
                    slot: 'clientName'
                },
                {
                    title: 'Status',
                    slot: 'status',
                    width: 150
                },
                // {
                //     title: 'Payment Method',
                //     slot: 'paymentStatus'
                // },
                
                {
                    title: 'Actions',
                    slot: 'action',
                    width: 300
                }
            ],
        }
        
	},

	methods : {
        async getallAddundum(){
            const res1 = await this.callApi('get',`/tech/getAllAddandum`)
               if(res1.status==200){
                    this.allAddandum = res1.data
                }
        },

        async assignAddundamtotheProject(){

            let flag = 1;
            if(this.neform.addandumId == '' || this.neform.addandumId == null ){
                this.error.addandumId = " Addendum can not be null";
                flag = 0
               
            } else this.error.addandumId = "";
            if(flag == 0) return

            const res = await this.callApi('post', '/tech/assignAddundamtotheProject', this.neform)
            if(res.status==200){
                this.s("Addendum has been added!!")
                
                
                this.projectData[this.newEdit].addendum = {}
                this.projectData[this.newEdit].addendum.name = res.data.name
                this.projectData[this.newEdit].addendum_id = this.neform.addandumId
                this.addundamModal = false
            }
            else if(res.status==403){
                return this.e(res.data.message)
            }
              else if(res.status==401){
                this.e(res.data.message)
            }
            
            else{
                this.e("please check your network!!")
            }


        },
        openAddundumModal(item,index){
            this.newEdit = index
            this.neform={
                 name:'',
                 projectId:'',
                 addandumId:'',
            }
            this.error.addandumId=''
            this.neform.name = item.name 
            this.neform.projectId = item.id 
            this.addundamModal = true

        },
        clickStatusOn(index){
			this.statusOn = true
			this.editIndex=index
		},
		async statusChange(index){
			this.editIndex= index
			this.editId = this.projectData[index].id
			const res = await this.callApi("post", `/tech/projectStatus?projcetId=${this.editId}`, {status:this.projectData[index].status});
			if (res.status == 200) {
                this.statusOn = false
                if(res.data.startDate){
                    this.projectData[index].startDate=res.data.startDate
                    const res1 = await this.callApi("get", '/tech/pending_project_count_tech');
                    if (res1.status == 200) {
                        this.$store.commit('setProPendingList', res1.data)
                    } 
                }
            } 
            else{
				this.swr();
			}
		},
		async getpaginate(page){
			const res  = await this.callApi('get',`/tech/all_project_tech?page=${page}&pageSize=${this.pageSize}&status=Pending`)
			if(res.status == 200){
				this.projectData= res.data.data
                this.pagination = res.data
			}
			else{
				this.swr()
			}
        },
        getSizeChange(e){
            this.pageSize =e
            this.getpaginate(1)
        },
        isDate(date) {
            return moment(date).format("DD-MM-YYYY");
        },
        projectEditOn(item,index){
            this.error.tech=''
            this.EditModal=true
            this.editItem.tech_price=item.tech_price
            this.editItem.id=item.id
            this.projectEditIndex=index
        },
          handleSubmit (name) {
            this.loading = true;
            this.$refs[name].validate((valid) => {
                if (valid) {
                    console.log(valid);
                    if(name == 'formValidate') this.update_project_tech()
                    else if(name == 'formValidateaddendum') this.assignAddundamtotheProject()
                } else {
                    this.loading = false;
                    this.$Message.error('Validation Failed!');
                }
                this.loading = false;
            })
        },
        async update_project_tech(){
             let flag = 1;
            if(this.editItem.tech_price == '' || this.editItem.tech_price == null ){
                this.error.tech = " Tech Price cann't be null";
                flag = 0
               
            } else this.error.tech = "";
            if(flag == 0) return
            this.loading=true
            const res = await this.callApi("post",'/tech/update_project_tech', this.editItem);
			if (res.status == 200) {
                this.EditModal=false
                this.s('Project successfully updated!')
                this.projectData[this.projectEditIndex].tech_price=this.editItem.tech_price
                this.projectData[this.projectEditIndex].client_price=res.data
                this.editItem={}
            } 
            else{
                this.swr();
            }
            this.loading=false
			
        },
        //Delete
        async project_delete_tech(id,index){
             if(!confirm("Are you sure to delete this project")){
				return;
			}
			let ob = {
				id:id
			}
			const res = await this.callApi('post','/tech/project_delete_tech',ob)
			if(res.status == 200){
                if(this.projectData[index].status=='Pending'){
                     this.$store.commit('setProPendingList', this.projectPendingList - 1)
                }
                this.projectData.splice(index,1)
                this.s('Project successfully deleted!')
                this.pagination.total-=1;
			}
			else{
				this.swr();
            }
        },
        //Search
        async searchProject(){
        if(this.searchFilter){
            const res = await this.callApi('get',`/tech/all_project_tech?page=${this.page}&pageSize=${this.pageSize}&searchFilter=${this.searchFilter}&status=Pending`)
            if(res.status == 200){
                this.projectData =  res.data.data;
                // delete res.data.data
                this.pagination = res.data;
            }
            else{
               this.swr();
            }
        }
         else {
      
         }
        },
    }, 
     filters:{
        projectProgress(item){
            let percentage = 0
            if(item.task.length>0 && item.task[0].sum!=0 && item.task_complete.length>0) 
            percentage = Math.floor((item.task_complete[0].com_sum*100)/item.task[0].sum);
            return percentage;
        }
     },

      async asyncData({ app, store, redirect, params,query }) {
        try {
            var project_id = query.project_id? query.project_id : '';
            var page = 1;
            var pageSize = 10;
            const res = await app.$axios.get(`/tech/all_project_tech?page=${page}&pageSize=${pageSize}&project_id=${project_id}&status=Pending`); 

            var projectData;
            var pagination;
            
            if(res.status==200){
                projectData= res.data.data
                pagination = res.data	
            }
            return {
                projectData:projectData,
                pagination:pagination,
                project_id:project_id,
                page:page,
                pageSize:pageSize,
            };
        } catch (error) {
            console.log(error)
        }
    },

	async created(){
        // this.project_id=this.$route.query.project_id ? this.$route.query.project_id : ''
		// this.loading = true
		// const res = await this.callApi('get',`/tech/all_project_tech?page=${this.page}&pageSize=${this.pageSize}&project_id=${this.project_id}&status=Pending`)
		// if(res.status == 200) {
        //         this.projectData= res.data.data
        //         this.pagination = res.data	
		// }
		// else{
		// 	this.swr()
		// }
        // this.loading = false
        this.getallAddundum()
	}, 
	
}
</script>
