<template>
	<div>
		<div class="_main_content">
			<div class="row">
                <div class="col-12 col-md-12 col-lg-12">
					<div class="_1card">
						<div class="_1card_top">
							<div class="_1card_top_left">
								<p class="_1card_top_title">Request</p>

								<div class="_1card_top_search">
									<Input search enter-button="Search" placeholder="Enter something..." v-model="searchFilter"  @on-search="searchRequest"/>
								</div>
							</div>
							<div class="_1card_top_right">
								<ul class="_1card_top_right_list">
    							    <li><Button type="primary" @click="timeExtend">Send Requset</Button></li>
								</ul>
							</div>
						</div>
                         <div class="_1card_body">
                            <div class="">
                                <Tabs :animated="false"  @on-click="tabClick" v-model="tabType" class="overflow_visible tab_margin_zero">
                                    <TabPane label="Received Request" name="Receive">
                                        <div class="_table_responsive">
                                            <Table class="_table1200" border :columns="columns" :data="requestData" :loading="loading" :no-data-text="no_data_text">
                                                <template slot-scope="{row }" slot="projectType">
                                                    <span v-if="row.project">{{row.project.addendum.name}}</span>
                                                </template>
                                                <template slot-scope="{row }" slot="description">
                                                    <p class="descrip">{{row.description}}</p>
                                                </template>
                                                <template slot-scope="{row }" slot="requestType">
                                                    <span v-if="row.request_type">
                                                        {{row.request_type.name}}
                                                    </span>
                                                </template>
                                                <!-- <template slot-scope="{row }" slot="status">
                                                    <span class="self-status status-danger">
                                                        {{row.status}}
                                                    </span>
                                                </template> -->
                                                <template slot-scope="{row }" slot="date">
                                                    {{isDate(row.created_at)}}
                                                </template>
                                                <template slot-scope="{row }" slot="action">
                                                    <ul class="action_list">
                                                        <li>
                                                            <Button class="_button_black" @click="viewModalOn(row)">
                                                                VIEW
                                                            </Button>
                                                        </li>
                                                        <li>
                                                            <Button class="_button_black" @click="request_delete_tech(row.id,index)">
                                                                DELETE
                                                            </Button>
                                                        </li>
                                                    </ul>
                                                </template>
                                            </Table>
                                        </div>

                                        <div class="_pagination _padd_t20">
                                            <Page :current="parseInt(pagination.page)" :total="pagination.total" @on-change="getpaginate"  :page-size="parseInt(pagination.perPage)" show-sizer show-total :page-size-opts="pageOption" @on-page-size-change="getSizeChange" />
                                        </div>
                                    </TabPane>
                                    <TabPane label="Sent Request" name="Sent">
                                        <div class="_table_responsive">
                                            <Table class="_table1200" border :columns="columns" :data="requestData" :loading="loading" :no-data-text="no_data_text">
                                                <template slot-scope="{row }" slot="projectType">
                                                    <span v-if="row.project">{{row.project.addendum.name}}</span>
                                                </template>
                                                <template slot-scope="{row }" slot="description">
                                                    <p class="descrip">{{row.description}}</p>
                                                </template>
                                                <template slot-scope="{row }" slot="requestType">
                                                    <span v-if="row.request_type">
                                                        {{row.request_type.name}}
                                                    </span>
                                                </template>
                                                <!-- <template slot-scope="{row }" slot="status">
                                                    <span class="self-status status-danger">
                                                        {{row.status}}
                                                    </span>
                                                </template> -->
                                                <template slot-scope="{row }" slot="date">
                                                    {{isDate(row.created_at)}}
                                                </template>
                                                <template slot-scope="{row }" slot="action">
                                                    <ul class="action_list">
                                                        <li>
                                                            <Button class="_button_black" @click="viewModalOn(row)">
                                                                VIEW
                                                            </Button>
                                                        </li>
                                                        <li>
                                                            <Button class="_button_black" @click="request_delete_tech(row.id,index)">
                                                                DELETE
                                                            </Button>
                                                        </li>
                                                    </ul>
                                                </template>
                                            </Table>
                                        </div>

                                        <div class="_pagination _padd_t20">
                                            <Page :current="parseInt(pagination.page)" :total="pagination.total" @on-change="getpaginate"  :page-size="parseInt(pagination.perPage)" show-sizer show-total :page-size-opts="pageOption" @on-page-size-change="getSizeChange" />
                                        </div>
                                    </TabPane>
                                </Tabs>
                                </div>
                            </div>
                        </div>
                    </div>

                    <Modal v-model="requestModel" title="Send Request" >
                        <Form ref="formValidate"  :model="requestItem" label-position="top" class="iview_submit_form">
                            <FormItem prop="project_id"   label="Project Name" :error="error.project_id">
                                <Select v-model="requestItem.project_id" placeholder="Project name" filterable clearable remote :remote-method="getProjectList" @on-change="projectChangeOnSelect"   >
                                    <Option v-for="(item) in projectList" :key="item.id" :value="item.id"  >{{item.id}} : {{item.name}} - {{item.firstname}} {{item.lastname}}</Option>
                                </Select>
                            </FormItem>
                        <FormItem  prop="request_type_id" label="Request Type" :error="error.request_type_id">
                                <Select v-model="requestItem.request_type_id">
                                    <Option v-for="req in requestType" :value="req.id" :key="req.id">{{ req.name }}</Option>
                                </Select>
                            </FormItem>
                        <FormItem  prop="description" label="Description" :error="error.description">
                                <Input v-model="requestItem.description" type="textarea" :autosize="{minRows: 4,maxRows: 6}" placeholder="Enter something..."></Input>
                            </FormItem>
                        </Form>
                        <div slot="footer">
                            <Button    @click="requestModel=false">Close</Button>
                            <Button type="primary" :disabled="loading"   :loading="loading" @click="timeExtend_req_tech">{{loading==true?'Please Wait' : "Send Request"}}</Button>
                        </div>
                    </Modal>

                    <Modal
                        v-model="viewModal"
                        title="Request Details"
                        :loading="loading"
                    >
                        <div class="modal-dialogue-body">
                            <ul class="modal-body-details">
                                <li><span>Project Type:</span> <h5 v-if="requestDetails.project">{{requestDetails.project.addendum.name}}</h5></li>
                                <li><span>Description:</span> <p>{{requestDetails.description}}</p></li>
                                <li><span>Request Type:</span> <p v-if="requestDetails.request_type">{{requestDetails.request_type.name}}</p></li>
                                <li><span>Client Name:</span> <h5 v-if="requestDetails.user">{{requestDetails.user.firstname}}</h5></li>
                                <li><span>Status:</span> <p>{{requestDetails.status}}</p></li>
                                <li><span>Date:</span> <p>{{isDate(requestDetails.created_at)}}</p></li>
                            </ul>
                            <div class="profile-edit-group full-width">
                                <div class="profile-edit-group-item col-md-12 col-sm-12 no-padding">
                                    <div class="profile-edit-input">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div slot="footer">
                            <Button type="primary" @click="viewModal=false">Close</Button>
                        </div>
                    </Modal>
                </div>
            </div>
        </div>
</template>

<script>
import moment from "moment";
export default {
    middleware: 'authenticated',
	data(){
		return {
        requestData:[],
        page:1,
        pagination: {},
        pageSize:10,
        pageOption:[5,10,15,20],
        loading:false,
        requestModel:false,
        requestItem:{
            project_id:'',
            user_id:'',
            description:'',
            request_type_id:'',
            receiver_id:'',
          },
        requestType:[],
        reqValue:'',
        projectList:[],
        requestDetails:{},
        viewModal:false,
        searchFilter:'',
        project_id:'',
        tabType:'',
        no_data_text:'No Data Found !!!',
        columns: [
            {
                title: '#',
                width: 100,
                align: 'center',
                render: (h, params) => {
                    return h('div', [
                        
                        h('strong', ((params.index)+1)+(((this.pagination.page-1)*this.pagination.perPage)))
                    ]);
                }
            },
            {
                title: 'ID',
                key: 'id',
                width:100
            },
            {
                title: 'Project Type',
                slot: 'projectType'
            },
            {
                title: 'Description',
                slot: 'description'
            },
            {
                title: 'Request Type',
                slot: 'requestType'
            },
            // {
            //     title: 'Status',
            //     slot: 'status'
            // },
            {
                title: 'Date',
                slot: 'date',
                width:200
            },
            
            {
                title: 'Actions',
                slot: 'action',
                width:200
            }
        ],
        error:{
            project_id:'',
            request_type_id:'',
            description:'',
         },
        }
	},

	methods : {
        timeExtend(){
            this.requestModel=true
        },
        async timeExtend_req_tech(){
             let flag = 1;
            if(this.requestItem.project_id == '' || this.requestItem.project_id == null ){
                this.error.project_id = "Project cann't be null";
                flag = 0  
            }
            else this.error.project_id=''
            if(this.requestItem.request_type_id == '' || this.requestItem.request_type_id == null ){
                this.error.request_type_id = " Request type cann't be null";
                flag = 0  
            }
            else this.error.request_type_id=''
            if(this.requestItem.description.trim() == '' || this.requestItem.description == null ){
                this.error.description = " Description cann't be null";
                flag = 0  
            }
           else this.error.description=''
           if(flag == 0) return

            this.requestItem.user_id=this.authUser.id
            this.loading = true
            const res = await this.callApi('post','/tech/timeExtend_req_tech',this.requestItem)
			if(res.status==200){
                this.s('Request successfully sent!')
                if(this.reqValue=='Sent'){
                    this.requestData.unshift(res.data)
                }
                this.requestItem={}
                this.requestModel=false
			}
			else{
				this.swr();
            }
            this.loading = false
        },
        isDate(date) {
            return moment(date).format("DD-MM-YYYY");
        },
         async tabClick(value){
            this.tabType = value
            history.pushState({}, null, `/request?tab=${value}`);
            if(value){
                const res  = await this.callApi('get',`/tech/all_req_tech?page=${this.page}&pageSize=${this.pageSize}&req_type=${value}`)
                if(res.status == 200){
                    this.requestData= res.data.data
                    this.pagination = res.data
                    this.reqValue=value
                }
                else{
                    this.swr()
                }
            }
        },
        async getpaginate(page = 1){
			const res  = await this.callApi('get',`/tech/all_req_tech?page=${page}&pageSize=${this.pageSize}&req_type=${this.reqValue}`)
			if(res.status == 200){
				 this.requestData= res.data.data
                 this.pagination = res.data	
			}
			else{
				this.swr()
			}
        },
         getSizeChange(e){
            this.pageSize =e
            this.getpaginate(this.page)
        },
        // Delete
         async request_delete_tech(id,index){
             if(!confirm("Are you sure to delete this request")){
				return;
			}
			let ob = {
				id:id
			}
			const res = await this.callApi('post','/tech/request_delete_tech',ob)
			if(res.status == 200){
                this.requestData.splice(index,1)
                this.s('Request successfully deleted!')
                this.pagination.total-=1;
			}
			else{
				this.swr();
            }
        },
        //View
        viewModalOn(item){
            this.requestDetails=item
            this.viewModal=true
        },
         //Search
        async searchRequest(){
        if(this.searchFilter){
            const res = await this.callApi('get',`/tech/all_req_tech?page=${this.page}&pageSize=${this.pageSize}&searchFilter=${this.searchFilter}&req_type=${this.reqValue}`)
            if(res.status == 200){
                this.requestData =  res.data.data;
                this.pagination = res.data;
            }
            else{
               this.swr();
            }
        }
         else {
      
         }
        },
          async getProjectList(query){ 
            const res = await this.callApi('get',`/tech/getClientList?str=${query}`)
            if( res.status == 200){
                 this.projectList = res.data.data
            } 
        },
        async projectChangeOnSelect(data){ 
            if(  data === undefined) return
            let index = this.projectList.findIndex(d => d.id == data);
            let ob = {
                id:this.projectList[index].user_id,
                firstname:this.projectList[index].firstname,
                lastname:this.projectList[index].lastname,
            };
            this.userList = [];
            this.userList.push(ob);
            this.requestItem.receiver_id = ob.id

        },

    },
    
     async asyncData({app,query,redirect}){ 
        try {
            var page = 1;
            var pageSize = 10;
            var tabType = query.tab ? query.tab : "Receive";
            var project_id= query.project_id ? query.project_id : ''

            const [res1, res2] = await Promise.all([
                app.$axios.get(`/tech/all_req_tech?page=${page}&pageSize=${pageSize}&project_id=${project_id}&req_type=${tabType}`),
                app.$axios.get(`/tech/all_request_type_tech`),
            ]);

            if(res1.status == 200 && res2.status == 200) {
                return{
                    requestData:res1.data.data,
                    pagination:res1.data,	
                    requestType:res2.data,
                    tabType:tabType
                }
            }
            else redirect('/')
        } catch (error) {
            console.log(error)
        }
    }, 

	// async created(){
    //     this.tabType = this.$route.query.tab? this.$route.query.tab : 'Receive';
    //     this.project_id=this.$route.query.project_id ? this.$route.query.project_id : ''
    //     this.loading = true
    //      const [res1,res2] = await Promise.all([ 
	// 		this.callApi('get',`/tech/all_req_tech?page=${this.page}&pageSize=${this.pageSize}&project_id=${this.project_id}&req_type=${this.tabType}`),
    //         this.callApi('get','/tech/all_request_type_tech'),
    //     ])
	// 	if(res1.status == 200 && res2.status == 200) {
    //         this.requestData= res1.data.data
    //         this.pagination = res1.data	
    //         this.requestType=res2.data
	// 	}
	// 	else{
	// 		this.swr()
	// 	}
	// 	this.loading = false
	// }, 
	
}
</script>
