<template>
  <div>
    <div id="meet"></div>
  </div>
</template>
<script>
export default {
  async mounted() {
    if (!this.$route.query.peer_id) {
      return;
    }

    let id = Number(this.$route.query.peer_id);
    const res = await this.callApi(
      "post",
      "/app/client/conference/verify/participants",
      { receiver: id, u_type: "tech", r_type: "agent" }
    );

    if (res.status == 200) {
      const domain = "meet.jit.si";
      const options = {
        roomName: `${res.data.room}`,
        width: `100%`,
        height: `100%`,
        parentNode: document.querySelector("#meet"),
        userInfo: {
          displayName: `${this.authUser.firstname} ${this.authUser.lastname}`,
        },
      };
      const api = new JitsiMeetExternalAPI(domain, options);
    }
  },
};
</script>
<style scoped>
#meet {
  height: 100vh;
}
</style>